section
	.banner
		.container-fluid
			.row
				.col-lg-12.col-md-12.col-sm-12.col-xs-12
					.video
						video(autoplay="autoplay",loop="loop" muted="muted")
							source(src="img/video.mp4")
					.banner-content
						img(src="img/logo-white.png", alt="logo")
						div
							strong Багаж &nbsp;
							| первого класса &nbsp;
							strong по цене эконома. &nbsp;
							span
								strong Даем &nbsp;
								| гарантию &nbsp;
								strong на возврат &nbsp;
								| на протяжении &nbsp;
								strong 1 года
	.catalog
		.container
			.row
				.col-lg-12.col-md-12.col-sm-12.col-xs-12
					h1
						strong КАТАЛОГ &nbsp;
						| УДАРОПРОЧНЫХ &nbsp;
						strong ЧЕМОДАНОВ
					ul.nav.nav-tabs
						li.active
							a(href="#bestseller", data-toggle='tab') Хит продаж
						li
							a(href="#carry-on-baggage", data-toggle='tab') Ручная кладь
						li
							a(href="#luxury-item", data-toggle='tab') Люкс товар
						li
							a(href="#childrens-suitcase", data-toggle='tab') Детский чемодан
						li
							a(href="#beauty-cases", data-toggle='tab') Бьюти кейсы
						li
							a(href="#backpacks", data-toggle='tab') Рюкзаки
						li
							a(href="#suitcase-cover", data-toggle='tab') Чехол для чемодана
						li
							a( href="#" data-toggle="modal" data-target=".modal-form") Чемоданы оптом
					.tab-content
						#bestseller.tab-pane.active
							.left-block
								.product-slider
									.item
										img(data-lazy="img/photo-1.webp", alt="#")
										a(data-fancybox="gallery-1" href="img/photo-1.webp")
									.item
										img(data-lazy="img/photo-2.webp", alt="#")
										a(data-fancybox="gallery-1" href="img/photo-2.webp")
									.item
										img(data-lazy="img/photo-3.webp", alt="#")
										a(data-fancybox="gallery-1" href="img/photo-3.webp")
									.item
										img(data-lazy="img/photo-4.webp", alt="#")
										a(data-fancybox="gallery-1" href="img/photo-4.webp")
									.item
										img(data-lazy="img/photo-5.webp", alt="#")
										a(data-fancybox="gallery-1" href="img/photo-5.webp")
									.item
										img(data-lazy="img/photo-6.webp", alt="#")
										a(data-fancybox="gallery-1" href="img/photo-6.webp")
									.item
										img(data-lazy="img/photo-7.webp", alt="#")
										a(data-fancybox="gallery-1" href="img/photo-7.webp")
									.item
										img(data-lazy="img/photo-8.webp", alt="#")
										a(data-fancybox="gallery-1" href="img/photo-8.webp")
									.item
										img(data-lazy="img/photo-9.webp", alt="#")
										a(data-fancybox="gallery-1" href="img/photo-9.webp")
									.item
										img(data-lazy="img/photo-10.webp", alt="#")
										a(data-fancybox="gallery-1" href="img/photo-10.webp")
									.item
										img(data-lazy="img/photo-11.webp", alt="#")
										a(data-fancybox="gallery-1" href="img/photo-11.webp")
									.item
										img(data-lazy="img/photo-12.webp", alt="#")
										a(data-fancybox="gallery-1" href="img/photo-12.webp")
							.right-block
								p.title Krabi
								p.subtitle МАТЕРИАЛ – ABC пластик
								p.subtitle Чемоданы Krabi имеют:
								ul
									li 4 съемных полиуретановые колеса со свободным вращением;
									li алюминиевую телескопическую ручку;
									li кодовый замок.
								a.more(href="#") Подробности
								.description
									p Внутри:
									ul
										li отделение с разделителем на молнии.
										li отделение с фиксирующими ремнями для одежды;
									p Примечание*
									p Высота чемодана измеряется от колес и до верхней ручки. Ширина измеряется от ручки по боковые ножки.
								p.price
									span 2 390
									| &#8381;
								p.color-label Цвета
								.colors
									.color(data-tooltip="Винный")
										input#wine(type="radio" name="color")
										label(for="wine",  style="background:#ac1515;")
									.color(data-tooltip="Желтый")
										input#yellow(type="radio" name="color")
										label(for="yellow", style="background:#ffd600;")
									.color(data-tooltip="Зеленый")
										input#green(type="radio" name="color")
										label(for="green", style="background:#afd559;")
									.color(data-tooltip="Кофейный")
										input#coffee(type="radio" name="color")
										label(for="coffee",  style="background:#a78f9d;")
									.color(data-tooltip="Лиловый")
										input#purple(type="radio" name="color")
										label(for="purple", style="background:#d3c0de;")
									.color(data-tooltip="Мятный")
										input#mint(type="radio" name="color")
										label(for="mint", style="background:#dee9eb;")
									.color(data-tooltip="Розовый")
										input#pink(type="radio" name="color")
										label(for="pink", style="background:#ec4b7f;")
									.color(data-tooltip="Серый")
										input#gray(type="radio" name="color")
										label(for="gray", style="background:#808080;")
									.color(data-tooltip="Синий")
										input#blue(type="radio" name="color")
										label(for="blue", style="background:#0078be;")
									.color(data-tooltip="Фиолетовый")
										input#dark-purple(type="radio" name="color")
										label(for="dark-purple",  style="background:#69378c;")
									.color(data-tooltip="Черный")
										input#black(type="radio" name="color")
										label(for="black",  style="background:#000;")
								.size
									label Размер
									select(class="custom-select sources", placeholder="S | 33x53x20см | 35л | 2.6 кг")
										option(value="size-s") S | 33x53x20см | 35л | 2.6 кг
										option(value="size-m") M | 42.5x63x23.5см | 60 л | 3.1 кг
										option(value="size-l") L | 49.5x72.5x28.5см | 92 л | 3.8 кг
								ul.buttons
									li
										a.button.icon-cart(href="#") В корзину
									li
										a.button.icon-card(href="#") Заказать
						#carry-on-baggage.tab-pane
							.left-block
								.product-slider
									.item
										img(data-lazy="img/prints-photo-1.jpeg", alt="#")
										a(data-fancybox="gallery-2" href="img/prints-photo-1.jpeg")
									.item
										img(data-lazy="img/prints-photo-2.jpeg", alt="#")
										a(data-fancybox="gallery-2" href="img/prints-photo-2.jpeg")
									.item
										img(data-lazy="img/prints-photo-3.jpeg", alt="#")
										a(data-fancybox="gallery-2" href="img/prints-photo-3.jpeg")
									.item
										img(data-lazy="img/prints-photo-4.webp", alt="#")
										a(data-fancybox="gallery-2" href="img/prints-photo-4.webp")
									.item
										img(data-lazy="img/prints-photo-5.jpeg", alt="#")
										a(data-fancybox="gallery-2" href="img/prints-photo-5.jpeg")
									.item
										img(data-lazy="img/prints-photo-6.jpeg", alt="#")
										a(data-fancybox="gallery-2" href="img/prints-photo-6.jpeg")
									.item
										img(data-lazy="img/prints-photo-7.jpeg", alt="#")
										a(data-fancybox="gallery-2" href="img/prints-photo-7.jpeg")
									.item
										img(data-lazy="img/prints-photo-8.jpeg", alt="#")
										a(data-fancybox="gallery-2" href="img/prints-photo-8.jpeg")
									.item
										img(data-lazy="img/prints-photo-9.jpeg", alt="#")
										a(data-fancybox="gallery-2" href="img/prints-photo-9.jpeg")
									.item
										img(data-lazy="img/prints-photo-10.jpeg", alt="#")
										a(data-fancybox="gallery-2" href="img/prints-photo-10.jpeg")
									.item
										img(data-lazy="img/prints-photo-11.jpeg", alt="#")
										a(data-fancybox="gallery-2" href="img/prints-photo-11.jpeg")
									.item
										img(data-lazy="img/prints-photo-12.jpeg", alt="#")
										a(data-fancybox="gallery-2" href="img/prints-photo-12.jpeg")
									.item
										img(data-lazy="img/prints-photo-13.jpeg", alt="#")
										a(data-fancybox="gallery-2" href="img/prints-photo-13.jpeg")
							.right-block
								p.title Krabi
								p.subtitle МАТЕРИАЛ – ABC пластик
								p.subtitle Чемоданы Krabi имеют:
								ul
									li 4 съемных полиуретановые колеса со свободным вращением;
									li алюминиевую телескопическую ручку;
									li кодовый замок.
								a.more(href="#") Подробности
								.description
									p Внутри:
									ul
										li отделение с разделителем на молнии.
										li отделение с фиксирующими ремнями для одежды;
									p Примечание*
									p Высота чемодана измеряется от колес и до верхней ручки. Ширина измеряется от ручки по боковые ножки.
								p.price
									span 3 290
									| &#8381;
								.model
									label Модель
									select(class="custom-select sources", placeholder="Mail")
										option(value="mail") Mail
										option(value="traffic") Traffic-Logo
										option(value="building") Building
										option(value="drawing") Drawing
								.size
									label Размер
									select(class="custom-select sources", placeholder="S | 34x52x20см | 35 л | 2.5 кг")
										option(value="size-s") S | 34x52x20см | 35 л | 2.5 кг
										option(value="size-m") M | 41x62x24см | 60 л | 3.0 кг
										option(value="size-l") L | 47x72x28см | 92 л | 3.5 кг
								ul.buttons
									li
										a.button.icon-cart(href="#") В корзину
									li
										a.button.icon-card(href="#") Заказать
						#luxury-item.tab-pane
							.left-block
								.product-slider
									.item
										img(data-lazy="img/paris-photo-1.png", alt="#")
										a(data-fancybox="gallery-3" href="img/paris-photo-1.png")
									.item
										img(data-lazy="img/paris-photo-2.png", alt="#")
										a(data-fancybox="gallery-3" href="img/paris-photo-2.png")
									.item
										img(data-lazy="img/paris-photo-3.png", alt="#")
										a(data-fancybox="gallery-3" href="img/paris-photo-3.png")
									.item
										img(data-lazy="img/paris-photo-4.png", alt="#")
										a(data-fancybox="gallery-3" href="img/paris-photo-4.png")
									.item
										img(data-lazy="img/paris-photo-5.jpeg", alt="#")
										a(data-fancybox="gallery-3" href="img/paris-photo-5.jpeg")
									.item
										img(data-lazy="img/paris-photo-6.png", alt="#")
										a(data-fancybox="gallery-3" href="img/paris-photo-6.png")
									.item
										img(data-lazy="img/paris-photo-7.jpeg", alt="#")
										a(data-fancybox="gallery-3" href="img/paris-photo-7.jpeg")
									.item
										img(data-lazy="img/paris-photo-8.png", alt="#")
										a(data-fancybox="gallery-3" href="img/paris-photo-8.png")
									.item
										img(data-lazy="img/paris-photo-9.png", alt="#")
										a(data-fancybox="gallery-3" href="img/paris-photo-9.png")
									.item
										img(data-lazy="img/paris-photo-10.jpeg", alt="#")
										a(data-fancybox="gallery-3" href="img/paris-photo-10.jpeg")
									.item
										img(data-lazy="img/paris-photo-11.jpeg", alt="#")
										a(data-fancybox="gallery-3" href="img/paris-photo-11.jpeg")
									.item
										img(data-lazy="img/paris-photo-12.jpeg", alt="#")
										a(data-fancybox="gallery-3" href="img/paris-photo-12.jpeg")
									.item
										img(data-lazy="img/paris-photo-13.png", alt="#")
										a(data-fancybox="gallery-3" href="img/paris-photo-13.png")
							.right-block
								p.title Krabi
								p.subtitle МАТЕРИАЛ – ABC пластик
								p.subtitle Чемоданы Krabi имеют:
								ul
									li 4 съемных полиуретановые колеса со свободным вращением;
									li алюминиевую телескопическую ручку;
									li кодовый замок.
								a.more(href="#") Подробности
								.description
									p Внутри:
									ul
										li отделение с разделителем на молнии.
										li отделение с фиксирующими ремнями для одежды;
									p Примечание*
									p Высота чемодана измеряется от колес и до верхней ручки. Ширина измеряется от ручки по боковые ножки.
								p.price
									span 4 290
									| &#8381;
								p.color-label Цвета
								.colors
									.color(data-tooltip="Белый")
										input#white(type="radio" name="color")
										label(for="white",  style="background:#f9f9f9;")
									.color(data-tooltip="Голубой")
										input#light-blue(type="radio" name="color")
										label(for="light-blue", style="background:#56acd2;")
									.color(data-tooltip="Серый")
										input#gray(type="radio" name="color")
										label(for="gray", style="background:#808080;")
									.color(data-tooltip="Винный")
										input#wine(type="radio" name="color")
										label(for="wine",  style="background:#ac1515;")
									.color(data-tooltip="Черный")
										input#black(type="radio" name="color")
										label(for="black",  style="background:#000;")
									.color(data-tooltip="Синий")
										input#blue(type="radio" name="color")
										label(for="blue", style="background:#21357f;")
								.size
									label Размер
									select(class="custom-select sources", placeholder="S | 40x56x23см | 45 л | 2.9 кг")
										option(value="size-s") S | 40x56x23см | 45 л | 2.9 кг
										option(value="size-m") М | 44x66x27см | 70 л | 3.5 кг
										option(value="size-l") L | 50x76x31см | 102 л | 4.3 кг
								ul.buttons
									li
										a.button.icon-cart(href="#") В корзину
									li
										a.button.icon-card(href="#") Заказать
					a.open-video(href="#" data-toggle="modal" data-target=".video-modal") Смотреть видео обзор
						i.icon-google-play
	.advantages
		.container
			.row
				.col-lg-12.col-md-12.col-sm-12.col-xs-12
					h2
						strong преимущества &nbsp;
						| компании &nbsp;
						strong mateza
					.items
						.item
							p Сертификаты
								br
								| качества
							img.lazy(src="img/icon-1.svg", alt="Quality certificates")
						.item
							p Бесплатная
								br
								| доставка по России
							img.lazy(src="img/icon-2.svg", alt="Free shipping")

						.item
							p Сервис бесплатного
								br
								| ремонта
							img.lazy(src="img/icon-5.svg", alt="Free repair service")
						.item
							p Единая служба информации 24/7
							img.lazy(src="img/icon-6.svg", alt="Unified information service 24/7")
						.item
							p Гарантия
								br
								| на товар
							img.lazy(src="img/icon-7.svg", alt="Product warranty")
						.item
							p Собственное
								br
								| производство
							img.lazy(src="img/icon-7.svg", alt="Product warranty")
	.banner-title
		h2
			strong АКЦИИ  &nbsp;
			| ОТ MATEZA
		.banner-mini.shares(style="background-image:url(img/bg-4.png);")
			.container-fluid
				.row
					.col-lg-12.col-md-12.col-sm-12.col-xs-12
						.left-block
							p
								strong При покупке &nbsp;
								| 2 чемоданов &nbsp;
								strong Paris &nbsp;
								| размера &nbsp;
								strong М и L &nbsp;
								| дарим &nbsp;
								strong В ПОДАРОК ЧЕМОДАН KRABI &nbsp;
								| размером &nbsp;
								strong S &nbsp;
								| (ручная кладь)

						.right-block
							img.lazy(src="img/img.png", alt="#")
	.discounts(style=' background-image:url(img/soc-1.jpg)')
		.container
				.row
					.col-lg-12.col-md-12.col-sm-12.col-xs-12
						.description
							h2 10%
								span Скидка на чек!
							p Дорогие дамы!
							p Примите наши искренние поздравления!
							p Желаем вам счастья, добрых улыбок и пусть у вас в душе царит весна!
							a.button.icon-phone(href="#" data-toggle="modal" data-target=".checkout-modal") Оформить заказ и получить подарок

	.shares
		.container-fluid
				.row
					.col-lg-12.col-md-12.col-sm-12.col-xs-12
						.slider-shares
							.item
								img(data-lazy="img/slider-photo-1.webp", alt="#")
								.description
									p Акция
									p.desc При покупке чемодана &nbsp;
										strong PARIS &nbsp;
										| размера &nbsp;
										strong L скидка 20% &nbsp;
										| на чемодан &nbsp;
										strong PARIS &nbsp;
										| размера &nbsp;
										strong S (ручная кладь)
									a.button.icon-phone(href="#" data-toggle="modal" data-target=".checkout-modal") Оформить заказ и получить подарок
									p Осталось 15 из 100 штук
							.item
								img(data-lazy="img/slider-photo-2.jpeg", alt="#")
								.description
									p Акция
									p.desc
										strong При покупке &nbsp;
										| любого комплекта чемоданов &nbsp;
										strong S, M, L &nbsp;
										| получаете в подарок &nbsp;
										strong БЬЮТИ-КЕЙС и БЕСПЛАТНУЮ ДОСТАВКУ
									a.button.icon-phone(href="#" data-toggle="modal" data-target=".checkout-modal") Оформить заказ и получить подарок
							.item
								img(data-lazy="img/slider-photo-3.jpeg", alt="#")
								.description
									p Акция
									p.desc
										strong Принеси &nbsp;
										| свой старый &nbsp;
										strong багаж &nbsp;
										| и получи новый &nbsp;
										strong со скидкой - 15% &nbsp;
									p *Скидка распространяется на Print's и Paris
									a.button.icon-phone(href="#" data-toggle="modal" data-target=".checkout-modal") Оформить заказ и получить подарок
									p Успей заказать
							.item
								img(data-lazy="img/slider-photo-4.jpeg", alt="#")
								.description
									p Акция
										span Скоро в продаже!
									p.desc
										strong При покупке &nbsp;
										| 2 рюкзаков &nbsp;
										strong скидка 10%, &nbsp;
										| а также получаете в подарок &nbsp;
										strong СЕЛФИ-ПАЛКУ
									a.button.icon-phone(href="#" data-toggle="modal" data-target=".checkout-modal") Оформить заказ и получить подарок
									p Успей заказать
	.warranty
		.container
			.row
				.col-lg-12.col-md-12.col-sm-12.col-xs-12
					h2 Как купить неубиваемый чемодан с гарантией 730 дней от завода производителя и не кипиться на подделку
						span 3 простых совета
					.items
						.item
							p Логоти
							.img(style="background-image:url(img/paris-photo-7.jpeg)")
								a.button(href="#" data-toggle="modal" data-target=".modal-form") Подробнее
							p Гарантия 730 дней на чемодан с логотипом
						.item
							p Корпус
							.img(style="background-image:url(img/paris-photo-5.jpeg)")
								a.button(href="#" data-toggle="modal" data-target=".modal-form") Подробнее
							p Толщина пластика ABS 285 на чемодане Lcase 2.65 мм
						.item
							p Сертификат
							.img(style="background-image:url(img/certificate.jpeg)" )
								a.button(data-fancybox href="img/certificate.jpeg") Подробнее
							p Каждый чемодан фирмы Lcase сертифицирован
	.technology
		.container-fluid
			.row
				.col-lg-12.col-md-12.col-sm-12.col-xs-12
					h2 Технологии и детали чемодана
					p Все представленные здесь модели являются нашими собственными разработкамию.
						br
						| Каждая деталь продумана и доведина до совершенстваю.
					.items
						.item
							ul
								li
									img.lazy(src="img/material.png", alt="#")
									p Материал
									p Коллекцыя Print's изготовлен из очень прочного материала поликарбонат.
								li
									img.lazy(src="img/whells.png", alt="#")
									p Колеса
									p 4 съемных колеса с полиуретана со свободным вращением.
						.item
							img.lazy(src="img/suitcase.png", alt="#")
						.item
							ul
								li
									img.lazy(src="img/castle.png", alt="#")
									p Замок
									p Кодовый замок, который очень удобен в случае досмотра багаже таможенной службой.
								li
									img.lazy(src="img/pen.png", alt="#")
									p Ручка
									p Алюминиевая телескопическая ручка.
		.container
			.row
				.col-lg-12.col-md-12.col-sm-12.col-xs-12
					.video-block
						h2 Видео
						.video.icon-play
							video(src="img/L’case.mp4"  poster="img/video.jpg")

	.portfolio
		.container-fluid
			.row
				.col-lg-12.col-md-12.col-sm-12.col-xs-12
					h2
						span ПОРТФОЛИО &nbsp;
						strong РЕАЛЬНЫЕ &nbsp;
						| ФОТО &nbsp;
						strong НАШИХ &nbsp;
						| КЛИЕНТОВ
					.portfolio-slider
						.item
							img(data-lazy="img/clients-1.jpeg", alt="#")
							a(data-fancybox="gallery-5" href="img/clients-1.jpeg")
						.item
							img(data-lazy="img/clients-2.jpeg", alt="#")
							a(data-fancybox="gallery-5" href="img/clients-2.jpeg")
						.item
							img(data-lazy="img/clients-3.jpeg", alt="#")
							a(data-fancybox="gallery-5" href="img/clients-3.jpeg")
						.item
							img(data-lazy="img/clients-4.jpeg", alt="#")
							a(data-fancybox="gallery-5" href="img/clients-4.jpeg")
						.item
							img(data-lazy="img/clients-5.png", alt="#")
							a(data-fancybox="gallery-5" href="img/clients-5.png")
						.item
							img(data-lazy="img/clients-6.jpeg", alt="#")
							a(data-fancybox="gallery-5" href="img/clients-6.jpeg")
						.item
							img(data-lazy="img/clients-7.jpeg", alt="#")
							a(data-fancybox="gallery-5" href="img/clients-7.jpeg")
	.reviews
		.container
				.row
					.col-lg-12.col-md-12.col-sm-12.col-xs-12
						h2
							strong РЕАЛЬНЫЕ &nbsp;
							| ОТЗЫВЫ
							span О нашей работе
						.reviews-slider
							.item
								img(data-lazy="img/reviews-1.jpeg", alt="#")
								a(data-fancybox="gallery-6" href="img/reviews-1.jpeg")
							.item
								img(data-lazy="img/reviews-2.jpeg", alt="#")
								a(data-fancybox="gallery-6" href="img/reviews-2.jpeg")
							.item
								img(data-lazy="img/reviews-3.jpeg", alt="#")
								a(data-fancybox="gallery-6" href="img/reviews-3.jpeg")
							.item
								img(data-lazy="img/reviews-4.jpeg", alt="#")
								a(data-fancybox="gallery-6" href="img/reviews-4.jpeg")
							.item
								img(data-lazy="img/reviews-5.jpeg", alt="#")
								a(data-fancybox="gallery-6" href="img/reviews-5.jpeg")
							.item
								img(data-lazy="img/reviews-6.jpeg", alt="#")
								a(data-fancybox="gallery-6" href="img/reviews-6.jpeg")
							.item
								img(data-lazy="img/reviews-7.jpeg", alt="#")
								a(data-fancybox="gallery-6" href="img/reviews-7.jpeg")
							.item
								img(data-lazy="img/reviews-8.jpeg", alt="#")
								a(data-fancybox="gallery-6" href="img/reviews-8.jpeg")
							.item
								img(data-lazy="img/reviews-9.jpeg", alt="#")
								a(data-fancybox="gallery-6" href="img/reviews-9.jpeg")
							.item
								img(data-lazy="img/reviews-10.jpeg", alt="#")
								a(data-fancybox="gallery-6" href="img/reviews-10.jpeg")
							.item
								img(data-lazy="img/reviews-11.jpeg", alt="#")
								a(data-fancybox="gallery-6" href="img/reviews-11.jpeg")
						a.button(href="#") Что говорят о нас в интернете
	.about-company
		.container
			.row
				.col-lg-12.col-md-12.col-sm-12.col-xs-12
					h2
						strong О КОМПАНИИ
					.left-block
						p Чуб Юрий Эдуардович
						img(src="img/photo.jpg", alt="logo")
						p Cоучредитель компании Lcase
					.right-block
						p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Hic cumque ipsa perspiciatis modi ut doloremque harum debitis eius fugiat, magnam quam quas, autem rerum dolor laborum distinctio dolorum cupiditate error odio incidunt minus animi ea accusantium sequi perferendis. Sapiente reiciendis, atque distinctio dolor ut placeat, soluta dolorum odit quasi maiores?
						p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Hic cumque ipsa perspiciatis modi ut doloremque harum debitis eius fugiat, magnam quam quas, autem rerum dolor laborum distinctio dolorum cupiditate error odio incidunt minus animi ea accusantium sequi perferendis. Sapiente reiciendis, atque distinctio dolor ut placeat, soluta dolorum odit quasi maiores?
						p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Unde architecto a, corporis, tempore totam ea cupiditate eos officia, alias praesentium culpa possimus in minus suscipit. Quia sunt temporibus minima, quo laboriosam reiciendis eveniet animi ad. Similique accusantium iure officiis? Cum obcaecati quia adipisci, beatae, doloribus delectus inventore est similique impedit vero? Rem dignissimos minima a ratione totam repellat iste excepturi laborum saepe itaque iusto porro optio assumenda voluptatem blanditiis voluptate quidem aspernatur voluptatum animi in, dolorum illo? Labore optio ab vel, magni veritatis quae, soluta itaque. Explicabo est, doloribus dolorem.
	.partners
		.container
			.row
				.col-lg-12.col-md-12.col-sm-12.col-xs-12
					h2 НАШИ &nbsp;
						strong ПАРТНЕРЫ
					.items
						.item
							a(href="#")
								img.lazy(src="img/partners-1.webp", alt="#")
						.item
							a(href="#")
								img.lazy(src="img/partners-2.webp", alt="#")
						.item
							a(href="#")
								img.lazy(src="img/partners-4.webp", alt="#")
	.cards
		.container
				.row
					.col-lg-12.col-md-12.col-sm-12.col-xs-12
						h2
							strong Принимаем карты:
						ul.card
							li
								img.lazy(src="img/visa-verified.webp", alt="#")
							li
								img.lazy(src="img/visa.webp", alt="#")
							li
								img.lazy(src="img/MasterCard.png", alt="#")
							li
								img.lazy(src="img/maestro.webp", alt="#")
							li
								img.lazy(src="img/mir.webp", alt="#")
