footer
	.container-fluid
		.row
			.col-lg-12.col-md-12.col-sm-12.col-xs-12
				ul.menu
					li
						a(href="#") Главная
					li
						a(href="#") Доставка
					li
						a(href="#") Оплата
					li
						a(href="#") Страхование багажа
					li
						a(href="#") Контакты
				.left-block
					a.logo(href="#")
						img(src="img/logo.png", alt="#")
					p
						img(src="img/rus.webp", alt="#")
						| Russia
				.right-block
					ul.tel
						li
							a.icon-telegram(href="#")
						li
							a.icon-viber(href="#")
						li
							a.icon-whatsapp(href="#")
						li
							a(href="tel:88005511602") 8 800 551 16 02
					ul.soc
						li
							a.icon-vk(href="#")
						li
							a.icon-facebook(href="#")
						li
							a.icon-twitter(href="#")
						li
							a.icon-instagram(href="#")
				p.copyright © ООО «Матеза» 2018. Все материалы данного сайта являются объектами авторского права (в том числе дизайн). Запрещается копирование, распространение
					br
					| (в том числе путем копирования на другие сайты и ресурсы в Интернете) или любое иное использование информации и объектов без предварительного согласия правообладателя.
a.cart.icon-cart(href="#")
	sup 2
.modal.fade.modal-form(role='dialog')
	.modal-dialog.modal-sm
		.modal-content
			a(href="#", class="close icon-remove", data-dismiss="modal", aria-hidden="true")
			form
				p Lorem ipsum dolor.
				.input
					label Введите имя
					input(type="text" placeholder="Иван Иванов")
				.input
					label Введите e-mail
					input(type="email" placeholder="example@mail.com")
				.input
					label Введите телефон
					input(type="tel" placeholder="+7 (495) 000 - 00 - 00")
				.input
					input(type="submit" value="Отправить")
.modal.fade.calculate(role='dialog')
	.modal-dialog.modal-lg
		.modal-content
			a(href="#", class="close icon-remove", data-dismiss="modal", aria-hidden="true")
			.left-block
				img(src="img/mail.jpeg", alt="#")
			.right-block
				form
					p Рассчитать стоимость доставки по России
					.input
						label Введите имя
						input(type="text" placeholder="Иван Иванов")
					.input
						label Введите e-mail
						input(type="email" placeholder="example@mail.com")
					.input
						label Введите телефон
						input(type="tel" placeholder="+7 (495) 000 - 00 - 00")
					.input
						label Введите точный адрес доставки
						input(type="text" placeholder="101000, г. Москва, ул. Кравченко, д.123, кв.1,")
					.input
						input(type="submit" value="Рассчитать")
					p Настоящим подтверждаю, что я ознакомлен и согласен с условиями политики конфиденциальности.
.modal.fade.checkout-modal(role='dialog')
	.modal-dialog.modal-lg
		.modal-content
			a(href="#", class="close icon-remove", data-dismiss="modal", aria-hidden="true")
			form
				.left-block
					p Оформление заказа
						span Настоящим подтверждаю, что я ознакомлен и согласен с условиями
							a политики конфиденциальности
					.input
						label Введите имя
						input(type="text" placeholder="Иван Иванов")
					.input
						label Введите e-mail
						input(type="email" placeholder="example@mail.com")
					.input
						label Введите телефон
						input(type="tel" placeholder="+7 (495) 000 - 00 - 00")
					.textarea
						label Комментарии
						textarea(placeholder="Пожелания...")
					.radio-buttons
						.radio-button
							input#online(type="radio" name="payment")
							label(for="online") Онлайн
						.radio-button
							input#cash(type="radio" name="payment")
							label(for="cash") Наличные
				.right-block
					.items
						.item
							.image
								img(src="img/photo-1.webp", alt="#")
								a(data-fancybox, href="img/photo-1.webp")
							.name
								p Krabi
								.tags
									.tag
										| Винный
									.tag
										| S | 33x53x20см | 35л | 2.6 кг
							.price
								| 2 390
								i.icon-ruble
					.total
						p.price Итого:
							strong 2 390,00
								i.icon-ruble
						a.button(href="#") Оформить заказ
.modal.fade.video-modal(role='dialog')
	.modal-dialog.modal-lg
		.modal-content
			a(href="#", class="close icon-remove", data-dismiss="modal", aria-hidden="true")
			.video
				video(src="img/mateza-Prints.mp4")
