header
	.container
		.row
			.col-lg-12.col-md-12.col-sm-12.col-xs-12
				a.logo(href="#")
					img(src="img/logo.png", alt="logo")
				.links
					ul.tel
						li
							a.icon-telegram(href="#")
						li
							a.icon-viber(href="#")
						li
							a.icon-whatsapp(href="#")
						li
							a(href="tel:88005511602") 8 800 551 16 02
					.burger-menu
						span
						span
						span
					ul.menu
						li
							a(href="#") Главная
						li
							a(href="#") Доставка
						li
							a(href="#") Оплата
						li
							a(href="#") Страхование багажа
						li
							a(href="#") Контакты
					ul.soc
						li
							a.icon-vk(href="#")
						li
							a.icon-facebook(href="#")
						li
							a.icon-twitter(href="#")
						li
							a.icon-instagram(href="#")
