/*
Theme Name: Дочерняя тема Mateza
Template: mateza
Description: Дочерняя тема для темы mateza
Version: 1.0
*/

/* Кнопка каталога */
.catalog .nav-tabs li.active a {
    background-color: black;
    color: #fff;
}

.catalog .buttons .model_btn.active, .catalog .buttons .model_btn:hover {
    background: black;
    border-color: #fff;
	color: #fff;
}

.catalog .buttons .model_btn {
    background: #fff;
    border: 1px solid black;
    color: black;
}

/* Оформление текста на главном экране */
.ark-header-text {
	font-weight: bold;
}

.banner .banner-content .ark-header-text span {
	font-size: 26px;
	color: red;
	display: inline-block;
}

.banner .banner-content .ark-header-text li {
	font-size: 18px;
}

.banner .banner-content .ark-header-text ul {
	margin-top: 25px;
    line-height: 35px;
}

.banner .banner-content {
	background: rgba(0,0,0,.3);
	padding: 20px;
}

.video {
	height: 30vw !important;
}

.catalog .open-video  {
	display: none;
}

h2 span {
    font-size: 14px;
}

@media (max-width: 1200px) {
  
	.banner-content {
		width: 80%;
	}
}

@media (max-width: 991px) {
  
	.banner .banner-content {
		padding: 10px;
		width: 90%;
	}	

	.banner .banner-content .ark-header-text ul {
		margin-top: 15px;
		line-height: 25px;
	}
}

@media (max-width: 478px) {
	
  .banner .banner-content .ark-header-text li {
	font-size: 14px;
	}

	.banner .banner-content div {
		font-size: 18px;
		width: 100%;
	}

	.banner .banner-content {
		height: 100%;
	}	

	.banner .banner-content .ark-header-text ul {
		margin-top: 5px;
		line-height: 20px;
	}
}
