
<section>
  <div class="cart-page">
    <div class="container">
      <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
          <h1>Ваша корзина</h1>
          <div class="product">
            <div class="items">
              <div class="item">
                <div class="image"><img src="https://app-cdn.bloxy.ru/projects/GkaVvl0y6ANzQBY/media/product_image/5qfb49xDfjDv6vVsndbCJ854AExcUiVIK7yEONzX.jpeg" width="100%" height="auto"/></div>
                <div class="name">
                  <p>Krabi</p>
                  <div class="tags">
                    <div class="tag">Цвет - Винный</div>
                    <div class="tag">Размер - S | 33x53x20см | 35л | 2.6 кг</div>
                  </div>
                </div>
                <div class="quantity">
                  <p>Количество</p>
                  <div class="input-quantity"><span class="icon-minus input-number-decrement"></span>
                    <input class="input-number" type="text" value="0" min="0" max="999"/><span class="icon-plus input-number-increment"></span>
                  </div>
                </div>
                <div class="price">2 390,00<i class="icon-ruble"></i></div>
                <div class="actions">
                  <div class="icon-remove"></div>
                </div>
              </div>
              <div class="item">
                <div class="image"><img src="https://app-cdn.bloxy.ru/projects/GkaVvl0y6ANzQBY/media/product_image/5qfb49xDfjDv6vVsndbCJ854AExcUiVIK7yEONzX.jpeg" width="100%" height="auto"/></div>
                <div class="name">
                  <p>Krabi</p>
                  <div class="tags">
                    <div class="tag">Цвет - Винный</div>
                    <div class="tag">Размер - S | 33x53x20см | 35л | 2.6 кг</div>
                  </div>
                </div>
                <div class="quantity">
                  <p>Количество</p>
                  <div class="input-quantity"><span class="icon-minus input-number-decrement"></span>
                    <input class="input-number" type="text" value="0" min="0" max="999"/><span class="icon-plus input-number-increment"></span>
                  </div>
                </div>
                <div class="price">2 390,00<i class="icon-ruble"></i></div>
                <div class="actions">
                  <div class="icon-remove"></div>
                </div>
              </div>
            </div>
            <div class="total">
              <p class="price">Итого:<strong>2 390,00</strong><i class="icon-ruble"></i></p><a class="button icon-cart" href="#">Перейти к оформлению заказа</a>
            </div>
          </div>
          <div class="desc">
            <h2>Доставим Ваш заказ:</h2>
            <div class="items">
              <div class="item">
                <p class="title">Москва, МО.</p>
                <p><strong>Стоимость доставки по Москве – 350 руб.<br/>По МО – от 550 руб. в зависимости от расстояния.<br/>Бесплатно доставляем заказы от – 5000 руб. по Москве и МО.</strong></p>
                <ul>
                  <li>домой, в офис собственной службой доставки Mateza или службами доставки Gett Delivery, Dostavista;</li>
                  <li>на дальние расстояния по МО - службой доставки Boxberry.</li>
                </ul>
              </div>
              <div class="item">
                <p class="title">По России.</p>
                <p><strong>Стоимость рассчитывается индивидуально.</strong></p>
                <ul>
                  <li>домой или в офис службами доставки СDEK, Boxberry в кратчайшие сроки;</li>
                  <li>в сеть пунктов выдачи Почта России.</li>
                </ul>
              </div>
            </div>
            <ul class="buttons">
              <li><a class="button" href="#">Подробнее<i class="icon-up-arrow"></i></a></li>
              <li><a class="button" href="#" data-toggle="modal" data-target=".calculate">Рассчитать стоимость<i class="icon-suitcase"></i></a></li>
            </ul>
          </div>
          <div class="desc">
            <h2>Оплата</h2>
            <div class="items">
              <div class="item">
                <p><strong>ОПЛАТА ПРИ<br/>ПОЛУЧЕНИИ ЗАКАЗА</strong></p>
                <p>Вы можете оплатить товар наличными или банковской картой при получении*.</p>
              </div>
              <div class="item">
                <p><strong>ОПЛАТА ЧЕРЕЗ<br/>ОНЛАЙН ИНВОЙСИНГ МОДУЛЬБАНК</strong></p>
                <p>Выставляем счет всего за пару минут благодаря простой форме*.</p>
              </div>
              <div class="item">
                <p><strong>ОПЛАТА БАНКОВСКОЙ<br/>КАРТОЙ НА САЙТЕ</strong></p>
                <p>Вы можете оплатить товар банковской картой в момент оформления заказа на сайте*.</p>
              </div>
            </div>
            <ul class="buttons">
              <li><a class="button" href="#">Подробнее<i class="icon-up-arrow"></i></a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
