
<section>
  <div class="contacts">
    <div class="container">
      <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
          <h1>Контакты</h1>
          <div class="left-block"><a href="#">Адрес магазина: 117535 Москва, Россошанский пр-д, д. 3, ТЦ Прага, 3 этаж</a>
            <ul class="tel">
              <li><a class="icon-telegram" href="#"></a></li>
              <li><a class="icon-viber" href="#"></a></li>
              <li><a class="icon-whatsapp" href="#"></a></li>
              <li><a href="tel:88005511602"><span>Телефон:</span>8 800 551 16 02</a></li>
            </ul><a href="mailto:support@mateza.ru">E-mail: support@mateza.ru</a>
            <p>Реквизиты:</p>
            <ul class="desc">
              <li>ООО "Матейз"</li>
              <li>ИНН 7728439540</li>
              <li>КПП 772801001</li>
              <li>ОГРН 1187746737144</li>
              <li>Юридический адрес: Проспект Новоясеневский 32, корпус 1, офис № 110 (этаж 1, помещение VI, к)</li>
              <li><a href="tel:88005511602">Тел. 8-800-551-16-02</a></li>
            </ul>
          </div>
          <div class="right-block">
            <div id="map"></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
