
<section>
  <div class="banner">
    <div class="container-fluid">
      <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
          <div class="video">
            <video autoplay="autoplay" loop="loop" muted="muted">
              <source src="img/video.mp4"/>
            </video>
          </div>
          <div class="banner-content"><img src="img/logo-white.png" alt="logo"/>
            <div><strong>Багаж &nbsp;</strong>первого класса &nbsp;<strong>по цене эконома. &nbsp;</strong><span><strong>Даем &nbsp;</strong>гарантию &nbsp;<strong>на возврат &nbsp;</strong>на протяжении &nbsp;<strong>1 года</strong></span></div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="catalog">
    <div class="container">
      <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
          <h1><strong>КАТАЛОГ &nbsp;</strong>УДАРОПРОЧНЫХ &nbsp;<strong>ЧЕМОДАНОВ</strong></h1>
          <ul class="nav nav-tabs">
            <li class="active"><a href="#bestseller" data-toggle="tab">Хит продаж</a></li>
            <li><a href="#carry-on-baggage" data-toggle="tab">Ручная кладь</a></li>
            <li><a href="#luxury-item" data-toggle="tab">Люкс товар</a></li>
            <li><a href="#childrens-suitcase" data-toggle="tab">Детский чемодан</a></li>
            <li><a href="#beauty-cases" data-toggle="tab">Бьюти кейсы</a></li>
            <li><a href="#backpacks" data-toggle="tab">Рюкзаки</a></li>
            <li><a href="#suitcase-cover" data-toggle="tab">Чехол для чемодана</a></li>
            <li><a href="#" data-toggle="modal" data-target=".modal-form">Чемоданы оптом</a></li>
          </ul>
          <div class="tab-content">
            <div class="tab-pane active" id="bestseller">
              <div class="left-block">
                <div class="product-slider">
                  <div class="item"><img data-lazy="img/photo-1.webp" alt="#"/><a data-fancybox="gallery-1" href="img/photo-1.webp"></a></div>
                  <div class="item"><img data-lazy="img/photo-2.webp" alt="#"/><a data-fancybox="gallery-1" href="img/photo-2.webp"></a></div>
                  <div class="item"><img data-lazy="img/photo-3.webp" alt="#"/><a data-fancybox="gallery-1" href="img/photo-3.webp"></a></div>
                  <div class="item"><img data-lazy="img/photo-4.webp" alt="#"/><a data-fancybox="gallery-1" href="img/photo-4.webp"></a></div>
                  <div class="item"><img data-lazy="img/photo-5.webp" alt="#"/><a data-fancybox="gallery-1" href="img/photo-5.webp"></a></div>
                  <div class="item"><img data-lazy="img/photo-6.webp" alt="#"/><a data-fancybox="gallery-1" href="img/photo-6.webp"></a></div>
                  <div class="item"><img data-lazy="img/photo-7.webp" alt="#"/><a data-fancybox="gallery-1" href="img/photo-7.webp"></a></div>
                  <div class="item"><img data-lazy="img/photo-8.webp" alt="#"/><a data-fancybox="gallery-1" href="img/photo-8.webp"></a></div>
                  <div class="item"><img data-lazy="img/photo-9.webp" alt="#"/><a data-fancybox="gallery-1" href="img/photo-9.webp"></a></div>
                  <div class="item"><img data-lazy="img/photo-10.webp" alt="#"/><a data-fancybox="gallery-1" href="img/photo-10.webp"></a></div>
                  <div class="item"><img data-lazy="img/photo-11.webp" alt="#"/><a data-fancybox="gallery-1" href="img/photo-11.webp"></a></div>
                  <div class="item"><img data-lazy="img/photo-12.webp" alt="#"/><a data-fancybox="gallery-1" href="img/photo-12.webp"></a></div>
                </div>
              </div>
              <div class="right-block">
                <p class="title">Krabi</p>
                <p class="subtitle">МАТЕРИАЛ – ABC пластик</p>
                <p class="subtitle">Чемоданы Krabi имеют:</p>
                <ul>
                  <li>4 съемных полиуретановые колеса со свободным вращением;</li>
                  <li>алюминиевую телескопическую ручку;</li>
                  <li>кодовый замок.</li>
                </ul><a class="more" href="#">Подробности</a>
                <div class="description">
                  <p>Внутри:</p>
                  <ul>
                    <li>отделение с разделителем на молнии.</li>
                    <li>отделение с фиксирующими ремнями для одежды;</li>
                  </ul>
                  <p>Примечание*</p>
                  <p>Высота чемодана измеряется от колес и до верхней ручки. Ширина измеряется от ручки по боковые ножки.</p>
                </div>
                <p class="price"><span>2 390</span>&#8381;</p>
                <p class="color-label">Цвета</p>
                <div class="colors">
                  <div class="color" data-tooltip="Винный">
                    <input id="wine" type="radio" name="color"/>
                    <label for="wine" style="background:#ac1515;"></label>
                  </div>
                  <div class="color" data-tooltip="Желтый">
                    <input id="yellow" type="radio" name="color"/>
                    <label for="yellow" style="background:#ffd600;"></label>
                  </div>
                  <div class="color" data-tooltip="Зеленый">
                    <input id="green" type="radio" name="color"/>
                    <label for="green" style="background:#afd559;"></label>
                  </div>
                  <div class="color" data-tooltip="Кофейный">
                    <input id="coffee" type="radio" name="color"/>
                    <label for="coffee" style="background:#a78f9d;"></label>
                  </div>
                  <div class="color" data-tooltip="Лиловый">
                    <input id="purple" type="radio" name="color"/>
                    <label for="purple" style="background:#d3c0de;"></label>
                  </div>
                  <div class="color" data-tooltip="Мятный">
                    <input id="mint" type="radio" name="color"/>
                    <label for="mint" style="background:#dee9eb;"></label>
                  </div>
                  <div class="color" data-tooltip="Розовый">
                    <input id="pink" type="radio" name="color"/>
                    <label for="pink" style="background:#ec4b7f;"></label>
                  </div>
                  <div class="color" data-tooltip="Серый">
                    <input id="gray" type="radio" name="color"/>
                    <label for="gray" style="background:#808080;"></label>
                  </div>
                  <div class="color" data-tooltip="Синий">
                    <input id="blue" type="radio" name="color"/>
                    <label for="blue" style="background:#0078be;"></label>
                  </div>
                  <div class="color" data-tooltip="Фиолетовый">
                    <input id="dark-purple" type="radio" name="color"/>
                    <label for="dark-purple" style="background:#69378c;"></label>
                  </div>
                  <div class="color" data-tooltip="Черный">
                    <input id="black" type="radio" name="color"/>
                    <label for="black" style="background:#000;"></label>
                  </div>
                </div>
                <div class="size">
                  <label>Размер</label>
                  <select class="custom-select sources" placeholder="S | 33x53x20см | 35л | 2.6 кг">
                    <option value="size-s">S | 33x53x20см | 35л | 2.6 кг</option>
                    <option value="size-m">M | 42.5x63x23.5см | 60 л | 3.1 кг</option>
                    <option value="size-l">L | 49.5x72.5x28.5см | 92 л | 3.8 кг</option>
                  </select>
                </div>
                <ul class="buttons">
                  <li><a class="button icon-cart" href="#">В корзину</a></li>
                  <li><a class="button icon-card" href="#">Заказать</a></li>
                </ul>
              </div>
            </div>
            <div class="tab-pane" id="carry-on-baggage">
              <div class="left-block">
                <div class="product-slider">
                  <div class="item"><img data-lazy="img/prints-photo-1.jpeg" alt="#"/><a data-fancybox="gallery-2" href="img/prints-photo-1.jpeg"></a></div>
                  <div class="item"><img data-lazy="img/prints-photo-2.jpeg" alt="#"/><a data-fancybox="gallery-2" href="img/prints-photo-2.jpeg"></a></div>
                  <div class="item"><img data-lazy="img/prints-photo-3.jpeg" alt="#"/><a data-fancybox="gallery-2" href="img/prints-photo-3.jpeg"></a></div>
                  <div class="item"><img data-lazy="img/prints-photo-4.webp" alt="#"/><a data-fancybox="gallery-2" href="img/prints-photo-4.webp"></a></div>
                  <div class="item"><img data-lazy="img/prints-photo-5.jpeg" alt="#"/><a data-fancybox="gallery-2" href="img/prints-photo-5.jpeg"></a></div>
                  <div class="item"><img data-lazy="img/prints-photo-6.jpeg" alt="#"/><a data-fancybox="gallery-2" href="img/prints-photo-6.jpeg"></a></div>
                  <div class="item"><img data-lazy="img/prints-photo-7.jpeg" alt="#"/><a data-fancybox="gallery-2" href="img/prints-photo-7.jpeg"></a></div>
                  <div class="item"><img data-lazy="img/prints-photo-8.jpeg" alt="#"/><a data-fancybox="gallery-2" href="img/prints-photo-8.jpeg"></a></div>
                  <div class="item"><img data-lazy="img/prints-photo-9.jpeg" alt="#"/><a data-fancybox="gallery-2" href="img/prints-photo-9.jpeg"></a></div>
                  <div class="item"><img data-lazy="img/prints-photo-10.jpeg" alt="#"/><a data-fancybox="gallery-2" href="img/prints-photo-10.jpeg"></a></div>
                  <div class="item"><img data-lazy="img/prints-photo-11.jpeg" alt="#"/><a data-fancybox="gallery-2" href="img/prints-photo-11.jpeg"></a></div>
                  <div class="item"><img data-lazy="img/prints-photo-12.jpeg" alt="#"/><a data-fancybox="gallery-2" href="img/prints-photo-12.jpeg"></a></div>
                  <div class="item"><img data-lazy="img/prints-photo-13.jpeg" alt="#"/><a data-fancybox="gallery-2" href="img/prints-photo-13.jpeg"></a></div>
                </div>
              </div>
              <div class="right-block">
                <p class="title">Krabi</p>
                <p class="subtitle">МАТЕРИАЛ – ABC пластик</p>
                <p class="subtitle">Чемоданы Krabi имеют:</p>
                <ul>
                  <li>4 съемных полиуретановые колеса со свободным вращением;</li>
                  <li>алюминиевую телескопическую ручку;</li>
                  <li>кодовый замок.</li>
                </ul><a class="more" href="#">Подробности</a>
                <div class="description">
                  <p>Внутри:</p>
                  <ul>
                    <li>отделение с разделителем на молнии.</li>
                    <li>отделение с фиксирующими ремнями для одежды;</li>
                  </ul>
                  <p>Примечание*</p>
                  <p>Высота чемодана измеряется от колес и до верхней ручки. Ширина измеряется от ручки по боковые ножки.</p>
                </div>
                <p class="price"><span>3 290</span>&#8381;</p>
                <div class="model">
                  <label>Модель</label>
                  <select class="custom-select sources" placeholder="Mail">
                    <option value="mail">Mail</option>
                    <option value="traffic">Traffic-Logo</option>
                    <option value="building">Building</option>
                    <option value="drawing">Drawing</option>
                  </select>
                </div>
                <div class="size">
                  <label>Размер</label>
                  <select class="custom-select sources" placeholder="S | 34x52x20см | 35 л | 2.5 кг">
                    <option value="size-s">S | 34x52x20см | 35 л | 2.5 кг</option>
                    <option value="size-m">M | 41x62x24см | 60 л | 3.0 кг</option>
                    <option value="size-l">L | 47x72x28см | 92 л | 3.5 кг</option>
                  </select>
                </div>
                <ul class="buttons">
                  <li><a class="button icon-cart" href="#">В корзину</a></li>
                  <li><a class="button icon-card" href="#">Заказать</a></li>
                </ul>
              </div>
            </div>
            <div class="tab-pane" id="luxury-item">
              <div class="left-block">
                <div class="product-slider">
                  <div class="item"><img data-lazy="img/paris-photo-1.png" alt="#"/><a data-fancybox="gallery-3" href="img/paris-photo-1.png"></a></div>
                  <div class="item"><img data-lazy="img/paris-photo-2.png" alt="#"/><a data-fancybox="gallery-3" href="img/paris-photo-2.png"></a></div>
                  <div class="item"><img data-lazy="img/paris-photo-3.png" alt="#"/><a data-fancybox="gallery-3" href="img/paris-photo-3.png"></a></div>
                  <div class="item"><img data-lazy="img/paris-photo-4.png" alt="#"/><a data-fancybox="gallery-3" href="img/paris-photo-4.png"></a></div>
                  <div class="item"><img data-lazy="img/paris-photo-5.jpeg" alt="#"/><a data-fancybox="gallery-3" href="img/paris-photo-5.jpeg"></a></div>
                  <div class="item"><img data-lazy="img/paris-photo-6.png" alt="#"/><a data-fancybox="gallery-3" href="img/paris-photo-6.png"></a></div>
                  <div class="item"><img data-lazy="img/paris-photo-7.jpeg" alt="#"/><a data-fancybox="gallery-3" href="img/paris-photo-7.jpeg"></a></div>
                  <div class="item"><img data-lazy="img/paris-photo-8.png" alt="#"/><a data-fancybox="gallery-3" href="img/paris-photo-8.png"></a></div>
                  <div class="item"><img data-lazy="img/paris-photo-9.png" alt="#"/><a data-fancybox="gallery-3" href="img/paris-photo-9.png"></a></div>
                  <div class="item"><img data-lazy="img/paris-photo-10.jpeg" alt="#"/><a data-fancybox="gallery-3" href="img/paris-photo-10.jpeg"></a></div>
                  <div class="item"><img data-lazy="img/paris-photo-11.jpeg" alt="#"/><a data-fancybox="gallery-3" href="img/paris-photo-11.jpeg"></a></div>
                  <div class="item"><img data-lazy="img/paris-photo-12.jpeg" alt="#"/><a data-fancybox="gallery-3" href="img/paris-photo-12.jpeg"></a></div>
                  <div class="item"><img data-lazy="img/paris-photo-13.png" alt="#"/><a data-fancybox="gallery-3" href="img/paris-photo-13.png"></a></div>
                </div>
              </div>
              <div class="right-block">
                <p class="title">Krabi</p>
                <p class="subtitle">МАТЕРИАЛ – ABC пластик</p>
                <p class="subtitle">Чемоданы Krabi имеют:</p>
                <ul>
                  <li>4 съемных полиуретановые колеса со свободным вращением;</li>
                  <li>алюминиевую телескопическую ручку;</li>
                  <li>кодовый замок.</li>
                </ul><a class="more" href="#">Подробности</a>
                <div class="description">
                  <p>Внутри:</p>
                  <ul>
                    <li>отделение с разделителем на молнии.</li>
                    <li>отделение с фиксирующими ремнями для одежды;</li>
                  </ul>
                  <p>Примечание*</p>
                  <p>Высота чемодана измеряется от колес и до верхней ручки. Ширина измеряется от ручки по боковые ножки.</p>
                </div>
                <p class="price"><span>4 290</span>&#8381;</p>
                <p class="color-label">Цвета</p>
                <div class="colors">
                  <div class="color" data-tooltip="Белый">
                    <input id="white" type="radio" name="color"/>
                    <label for="white" style="background:#f9f9f9;"></label>
                  </div>
                  <div class="color" data-tooltip="Голубой">
                    <input id="light-blue" type="radio" name="color"/>
                    <label for="light-blue" style="background:#56acd2;"></label>
                  </div>
                  <div class="color" data-tooltip="Серый">
                    <input id="gray" type="radio" name="color"/>
                    <label for="gray" style="background:#808080;"></label>
                  </div>
                  <div class="color" data-tooltip="Винный">
                    <input id="wine" type="radio" name="color"/>
                    <label for="wine" style="background:#ac1515;"></label>
                  </div>
                  <div class="color" data-tooltip="Черный">
                    <input id="black" type="radio" name="color"/>
                    <label for="black" style="background:#000;"></label>
                  </div>
                  <div class="color" data-tooltip="Синий">
                    <input id="blue" type="radio" name="color"/>
                    <label for="blue" style="background:#21357f;"></label>
                  </div>
                </div>
                <div class="size">
                  <label>Размер</label>
                  <select class="custom-select sources" placeholder="S | 40x56x23см | 45 л | 2.9 кг">
                    <option value="size-s">S | 40x56x23см | 45 л | 2.9 кг</option>
                    <option value="size-m">М | 44x66x27см | 70 л | 3.5 кг</option>
                    <option value="size-l">L | 50x76x31см | 102 л | 4.3 кг</option>
                  </select>
                </div>
                <ul class="buttons">
                  <li><a class="button icon-cart" href="#">В корзину</a></li>
                  <li><a class="button icon-card" href="#">Заказать</a></li>
                </ul>
              </div>
            </div>
          </div><a class="open-video" href="#" data-toggle="modal" data-target=".video-modal">Смотреть видео обзор<i class="icon-google-play"></i></a>
        </div>
      </div>
    </div>
  </div>
  <div class="advantages">
    <div class="container">
      <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
          <h2><strong>преимущества &nbsp;</strong>компании &nbsp;<strong>mateza</strong></h2>
          <div class="items">
            <div class="item">
              <p>Сертификаты<br/>качества</p><img class="lazy" src="img/icon-1.svg" alt="Quality certificates"/>
            </div>
            <div class="item">
              <p>Бесплатная<br/>доставка по России</p><img class="lazy" src="img/icon-2.svg" alt="Free shipping"/>
            </div>
            <div class="item">
              <p>Сервис бесплатного<br/>ремонта</p><img class="lazy" src="img/icon-5.svg" alt="Free repair service"/>
            </div>
            <div class="item">
              <p>Единая служба информации 24/7</p><img class="lazy" src="img/icon-6.svg" alt="Unified information service 24/7"/>
            </div>
            <div class="item">
              <p>Гарантия<br/>на товар</p><img class="lazy" src="img/icon-7.svg" alt="Product warranty"/>
            </div>
            <div class="item">
              <p>Собственное<br/>производство</p><img class="lazy" src="img/icon-7.svg" alt="Product warranty"/>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="banner-title">
    <h2><strong>АКЦИИ  &nbsp;</strong>ОТ MATEZA</h2>
    <div class="banner-mini shares" style="background-image:url(img/bg-4.png);">
      <div class="container-fluid">
        <div class="row">
          <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <div class="left-block">
              <p><strong>При покупке &nbsp;</strong>2 чемоданов &nbsp;<strong>Paris &nbsp;</strong>размера &nbsp;<strong>М и L &nbsp;</strong>дарим &nbsp;<strong>В ПОДАРОК ЧЕМОДАН KRABI &nbsp;</strong>размером &nbsp;<strong>S &nbsp;</strong>(ручная кладь)</p>
            </div>
            <div class="right-block"><img class="lazy" src="img/img.png" alt="#"/></div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="discounts" style=" background-image:url(img/soc-1.jpg)">
    <div class="container">
      <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
          <div class="description">
            <h2>10%<span>Скидка на чек!</span></h2>
            <p>Дорогие дамы!</p>
            <p>Примите наши искренние поздравления!</p>
            <p>Желаем вам счастья, добрых улыбок и пусть у вас в душе царит весна!</p><a class="button icon-phone" href="#" data-toggle="modal" data-target=".checkout-modal">Оформить заказ и получить подарок</a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="shares">
    <div class="container-fluid">
      <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
          <div class="slider-shares">
            <div class="item"><img data-lazy="img/slider-photo-1.webp" alt="#"/>
              <div class="description">
                <p>Акция</p>
                <p class="desc">При покупке чемодана &nbsp;<strong>PARIS &nbsp;</strong>размера &nbsp;<strong>L скидка 20% &nbsp;</strong>на чемодан &nbsp;<strong>PARIS &nbsp;</strong>размера &nbsp;<strong>S (ручная кладь)</strong></p><a class="button icon-phone" href="#" data-toggle="modal" data-target=".checkout-modal">Оформить заказ и получить подарок</a>
                <p>Осталось 15 из 100 штук</p>
              </div>
            </div>
            <div class="item"><img data-lazy="img/slider-photo-2.jpeg" alt="#"/>
              <div class="description">
                <p>Акция</p>
                <p class="desc"><strong>При покупке &nbsp;</strong>любого комплекта чемоданов &nbsp;<strong>S, M, L &nbsp;</strong>получаете в подарок &nbsp;<strong>БЬЮТИ-КЕЙС и БЕСПЛАТНУЮ ДОСТАВКУ</strong></p><a class="button icon-phone" href="#" data-toggle="modal" data-target=".checkout-modal">Оформить заказ и получить подарок</a>
              </div>
            </div>
            <div class="item"><img data-lazy="img/slider-photo-3.jpeg" alt="#"/>
              <div class="description">
                <p>Акция</p>
                <p class="desc"><strong>Принеси &nbsp;</strong>свой старый &nbsp;<strong>багаж &nbsp;</strong>и получи новый &nbsp;<strong>со скидкой - 15% &nbsp;</strong></p>
                <p>*Скидка распространяется на Print's и Paris</p><a class="button icon-phone" href="#" data-toggle="modal" data-target=".checkout-modal">Оформить заказ и получить подарок</a>
                <p>Успей заказать</p>
              </div>
            </div>
            <div class="item"><img data-lazy="img/slider-photo-4.jpeg" alt="#"/>
              <div class="description">
                <p>Акция<span>Скоро в продаже!</span></p>
                <p class="desc"><strong>При покупке &nbsp;</strong>2 рюкзаков &nbsp;<strong>скидка 10%, &nbsp;</strong>а также получаете в подарок &nbsp;<strong>СЕЛФИ-ПАЛКУ</strong></p><a class="button icon-phone" href="#" data-toggle="modal" data-target=".checkout-modal">Оформить заказ и получить подарок</a>
                <p>Успей заказать</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="warranty">
    <div class="container">
      <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
          <h2>Как купить неубиваемый чемодан с гарантией 730 дней от завода производителя и не кипиться на подделку<span>3 простых совета</span></h2>
          <div class="items">
            <div class="item">
              <p>Логоти</p>
              <div class="img" style="background-image:url(img/paris-photo-7.jpeg)"><a class="button" href="#" data-toggle="modal" data-target=".modal-form">Подробнее</a></div>
              <p>Гарантия 730 дней на чемодан с логотипом</p>
            </div>
            <div class="item">
              <p>Корпус</p>
              <div class="img" style="background-image:url(img/paris-photo-5.jpeg)"><a class="button" href="#" data-toggle="modal" data-target=".modal-form">Подробнее</a></div>
              <p>Толщина пластика ABS 285 на чемодане Lcase 2.65 мм</p>
            </div>
            <div class="item">
              <p>Сертификат</p>
              <div class="img" style="background-image:url(img/certificate.jpeg)"><a class="button" data-fancybox="data-fancybox" href="img/certificate.jpeg">Подробнее</a></div>
              <p>Каждый чемодан фирмы Lcase сертифицирован</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="technology">
    <div class="container-fluid">
      <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
          <h2>Технологии и детали чемодана</h2>
          <p>Все представленные здесь модели являются нашими собственными разработкамию.<br/>Каждая деталь продумана и доведина до совершенстваю.</p>
          <div class="items">
            <div class="item">
              <ul>
                <li><img class="lazy" src="img/material.png" alt="#"/>
                  <p>Материал</p>
                  <p>Коллекцыя Print's изготовлен из очень прочного материала поликарбонат.</p>
                </li>
                <li><img class="lazy" src="img/whells.png" alt="#"/>
                  <p>Колеса</p>
                  <p>4 съемных колеса с полиуретана со свободным вращением.</p>
                </li>
              </ul>
            </div>
            <div class="item"><img class="lazy" src="img/suitcase.png" alt="#"/></div>
            <div class="item">
              <ul>
                <li><img class="lazy" src="img/castle.png" alt="#"/>
                  <p>Замок</p>
                  <p>Кодовый замок, который очень удобен в случае досмотра багаже таможенной службой.</p>
                </li>
                <li><img class="lazy" src="img/pen.png" alt="#"/>
                  <p>Ручка</p>
                  <p>Алюминиевая телескопическая ручка.</p>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="container">
      <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
          <div class="video-block">
            <h2>Видео</h2>
            <div class="video icon-play">
              <video src="img/L’case.mp4" poster="img/video.jpg"></video>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="portfolio">
    <div class="container-fluid">
      <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
          <h2><span>ПОРТФОЛИО &nbsp;</span><strong>РЕАЛЬНЫЕ &nbsp;</strong>ФОТО &nbsp;<strong>НАШИХ &nbsp;</strong>КЛИЕНТОВ</h2>
          <div class="portfolio-slider">
            <div class="item"><img data-lazy="img/clients-1.jpeg" alt="#"/><a data-fancybox="gallery-5" href="img/clients-1.jpeg"></a></div>
            <div class="item"><img data-lazy="img/clients-2.jpeg" alt="#"/><a data-fancybox="gallery-5" href="img/clients-2.jpeg"></a></div>
            <div class="item"><img data-lazy="img/clients-3.jpeg" alt="#"/><a data-fancybox="gallery-5" href="img/clients-3.jpeg"></a></div>
            <div class="item"><img data-lazy="img/clients-4.jpeg" alt="#"/><a data-fancybox="gallery-5" href="img/clients-4.jpeg"></a></div>
            <div class="item"><img data-lazy="img/clients-5.png" alt="#"/><a data-fancybox="gallery-5" href="img/clients-5.png"></a></div>
            <div class="item"><img data-lazy="img/clients-6.jpeg" alt="#"/><a data-fancybox="gallery-5" href="img/clients-6.jpeg"></a></div>
            <div class="item"><img data-lazy="img/clients-7.jpeg" alt="#"/><a data-fancybox="gallery-5" href="img/clients-7.jpeg"></a></div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="reviews">
    <div class="container">
      <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
          <h2><strong>РЕАЛЬНЫЕ &nbsp;</strong>ОТЗЫВЫ<span>О нашей работе</span></h2>
          <div class="reviews-slider">
            <div class="item"><img data-lazy="img/reviews-1.jpeg" alt="#"/><a data-fancybox="gallery-6" href="img/reviews-1.jpeg"></a></div>
            <div class="item"><img data-lazy="img/reviews-2.jpeg" alt="#"/><a data-fancybox="gallery-6" href="img/reviews-2.jpeg"></a></div>
            <div class="item"><img data-lazy="img/reviews-3.jpeg" alt="#"/><a data-fancybox="gallery-6" href="img/reviews-3.jpeg"></a></div>
            <div class="item"><img data-lazy="img/reviews-4.jpeg" alt="#"/><a data-fancybox="gallery-6" href="img/reviews-4.jpeg"></a></div>
            <div class="item"><img data-lazy="img/reviews-5.jpeg" alt="#"/><a data-fancybox="gallery-6" href="img/reviews-5.jpeg"></a></div>
            <div class="item"><img data-lazy="img/reviews-6.jpeg" alt="#"/><a data-fancybox="gallery-6" href="img/reviews-6.jpeg"></a></div>
            <div class="item"><img data-lazy="img/reviews-7.jpeg" alt="#"/><a data-fancybox="gallery-6" href="img/reviews-7.jpeg"></a></div>
            <div class="item"><img data-lazy="img/reviews-8.jpeg" alt="#"/><a data-fancybox="gallery-6" href="img/reviews-8.jpeg"></a></div>
            <div class="item"><img data-lazy="img/reviews-9.jpeg" alt="#"/><a data-fancybox="gallery-6" href="img/reviews-9.jpeg"></a></div>
            <div class="item"><img data-lazy="img/reviews-10.jpeg" alt="#"/><a data-fancybox="gallery-6" href="img/reviews-10.jpeg"></a></div>
            <div class="item"><img data-lazy="img/reviews-11.jpeg" alt="#"/><a data-fancybox="gallery-6" href="img/reviews-11.jpeg"></a></div>
          </div><a class="button" href="#">Что говорят о нас в интернете</a>
        </div>
      </div>
    </div>
  </div>
  <div class="about-company">
    <div class="container">
      <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
          <h2><strong>О КОМПАНИИ</strong></h2>
          <div class="left-block">
            <p>Чуб Юрий Эдуардович</p><img src="img/photo.jpg" alt="logo"/>
            <p>Cоучредитель компании Lcase</p>
          </div>
          <div class="right-block">
            <p> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Hic cumque ipsa perspiciatis modi ut doloremque harum debitis eius fugiat, magnam quam quas, autem rerum dolor laborum distinctio dolorum cupiditate error odio incidunt minus animi ea accusantium sequi perferendis. Sapiente reiciendis, atque distinctio dolor ut placeat, soluta dolorum odit quasi maiores?</p>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Hic cumque ipsa perspiciatis modi ut doloremque harum debitis eius fugiat, magnam quam quas, autem rerum dolor laborum distinctio dolorum cupiditate error odio incidunt minus animi ea accusantium sequi perferendis. Sapiente reiciendis, atque distinctio dolor ut placeat, soluta dolorum odit quasi maiores?</p>
            <p> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Unde architecto a, corporis, tempore totam ea cupiditate eos officia, alias praesentium culpa possimus in minus suscipit. Quia sunt temporibus minima, quo laboriosam reiciendis eveniet animi ad. Similique accusantium iure officiis? Cum obcaecati quia adipisci, beatae, doloribus delectus inventore est similique impedit vero? Rem dignissimos minima a ratione totam repellat iste excepturi laborum saepe itaque iusto porro optio assumenda voluptatem blanditiis voluptate quidem aspernatur voluptatum animi in, dolorum illo? Labore optio ab vel, magni veritatis quae, soluta itaque. Explicabo est, doloribus dolorem.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="partners">
    <div class="container">
      <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
          <h2>НАШИ &nbsp;<strong>ПАРТНЕРЫ</strong></h2>
          <div class="items">
            <div class="item"><a href="#"><img class="lazy" src="img/partners-1.webp" alt="#"/></a></div>
            <div class="item"><a href="#"><img class="lazy" src="img/partners-2.webp" alt="#"/></a></div>
            <div class="item"><a href="#"><img class="lazy" src="img/partners-4.webp" alt="#"/></a></div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="cards">
    <div class="container">
      <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
          <h2><strong>Принимаем карты:</strong></h2>
          <ul class="card">
            <li><img class="lazy" src="img/visa-verified.webp" alt="#"/></li>
            <li><img class="lazy" src="img/visa.webp" alt="#"/></li>
            <li><img class="lazy" src="img/MasterCard.png" alt="#"/></li>
            <li><img class="lazy" src="img/maestro.webp" alt="#"/></li>
            <li><img class="lazy" src="img/mir.webp" alt="#"/></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</section>
