
<header>
  <div class="container">
    <div class="row">
      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12"><a class="logo" href="#"><img src="img/logo.png" alt="logo"/></a>
        <div class="links">
          <ul class="tel">
            <li><a class="icon-telegram" href="#"></a></li>
            <li><a class="icon-viber" href="#"></a></li>
            <li><a class="icon-whatsapp" href="#"></a></li>
            <li><a href="tel:88005511602">8 800 551 16 02</a></li>
          </ul>
          <div class="burger-menu"><span></span><span></span><span></span></div>
          <ul class="menu">
            <li><a href="#">Главная</a></li>
            <li><a href="#">Доставка</a></li>
            <li><a href="#">Оплата</a></li>
            <li><a href="#">Страхование багажа</a></li>
            <li><a href="#">Контакты</a></li>
          </ul>
          <ul class="soc">
            <li><a class="icon-vk" href="#"></a></li>
            <li><a class="icon-facebook" href="#"></a></li>
            <li><a class="icon-twitter" href="#"></a></li>
            <li><a class="icon-instagram" href="#"></a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</header>
