
<section>
  <div class="description-page">
    <div class="container">
      <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
          <h1>Оплата</h1>
          <p>ОПЛАТА ПРИ ПОЛУЧЕНИИ ЗАКАЗА</p>
          <p>Вы можете оплатить товар наличными или банковской картой через онлайн инвойсинг при получении, если выбираете доставку в магазин Mateza или адресную доставку домой/в офис мобильным продавцом собственной службы доставки Mateza.</p>
          <p>ОПЛАТА ЧЕРЕЗ ОНЛАЙН ИНВОЙСИНГ МОДУЛЬБАНК</p>
          <ul>
            <li>Выставляем счет всего за пару минут благодаря простой форме.</li>
            <li>Отправляем счет удобным способом: e–mail, sms и любой мессенджер.</li>
            <li>Оплачивайте инвойсы: Visa, MasterCard или через QR-код.</li>
            <li>Автоматическое зачисление средств на вашу карту/счет.</li>
          </ul>
          <ol>
            <li>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quod vitae excepturi, at hic impedit provident.</li>
            <li>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quod vitae excepturi, at hic impedit provident.</li>
            <li>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quod vitae excepturi, at hic impedit provident.</li>
            <li>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quod vitae excepturi, at hic impedit provident.</li>
            <li>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quod vitae excepturi, at hic impedit provident.</li>
          </ol>
          <p>ОПЛАТА БАНКОВСКОЙ КАРТОЙ НА САЙТЕ (СБЕРБАНК)</p>
          <p>Вы можете оплатить товар банковской картой в момент оформления заказа на сайте или в мобильном приложении, если выбираете адресную доставку домой/в офис мобильным продавцом собственной службы доставки Mateza или курьерской службой Boxberry, CDEK, Gett Delivery или Dostavita.</p>
          <p>Безопасность платежей обеспечивает «Сбербанк» — российский финансовый конгломерат, крупнейший транснациональный и универсальный банк России, Центральной и Восточной Европы. Контролируется Центральным банком Российской Федерации, которому принадлежит 50 % уставного капитала плюс одна голосующая акция. Предоставляет широкий спектр банковских услуг.</p>
          <p>После завершения оформления заказа вы должны нажать на кнопку «Оплата банковской картой», при этом система откроет платежную форму, где вам будет предложено ввести данные банковской карты:<br/>номер банковской карты;<br/>срок действия карты;<br/>имя владельца карты;<br/>CVC2/CVV2;<br/>адрес электронной почты (по желанию), на которую придет уведомление о платеже.</p>
          <p>Если ваша банковская карта поддерживает технологию защиты платежей 3-D Secure, здесь же откроется окно банка-эмитента карты для ввода соответствующего пароля. После завершения оплаты система уведомит вас о результатах авторизации:<br/>в случае подтверждения авторизации ваш платеж будет выполнен, о чем на указанный адрес электронной почты будет выслано уведомление;<br/>в случае отказа в авторизации карты вы сможете увидеть причину отказа и повторить процедуру оплаты.</p>
          <p>Передача данных вашей карты производится с соблюдением всех необходимых мер безопасности. Данные будут сообщены только на авторотационный сервер банка по защищенному каналу (протокол SSL 3.0). Информация передается в зашифрованном виде и сохраняется только на специализированном сервере платежной системы.</p>
          <p>Бланки:</p><a href="#">Страховой полис (1 часть)</a><a href="#">Страховой полис (2 часть)</a><a href="#">Заявление на страховую выплату</a><a href="#">Гарантийный талон</a><a href="#">Заявление о безвозмездном гарантийном ремонте</a><a href="#">Бланк (пустой)</a>
        </div>
      </div>
    </div>
  </div>
</section>
