<template>
  <div>
    <menu-nav @chengeCat="chengeCat" @menuId="idCat"></menu-nav>
    <div class="tab-pane active">
      <slider-product :photoImg="chengedColor" :videoData="videos" v-show="!noProducts"></slider-product>
      <card-product
        @chengeModel="chengeModel"
        @chengeSize="chengeSize"
        @changeColors="chengeColor"
        @video="video"
        :startCat="cardId"
        @noProduct="noProduct"
        v-show="!noProducts"
      ></card-product>
      <div class="no-product" v-show="noProducts">
        <h5>Извините в данной категории нет продуктов</h5>
      </div>
    </div>
  </div>
</template>

<script>
// import req from "superagent";

import sliderProduct from "./components/sliderProduct.vue";
import menuNav from "./components/menu.vue";
import cardProduct from "./components/cardProduct.vue";

export default {
  components: { sliderProduct, menuNav, cardProduct },
  data() {
    return {
      chengedModel: {},
      chengedSize: {},
      chengedColor: {},
      chengedCat: {},
      videos: "",
      cardId: 0,
      noProducts: false
    };
  },
  methods: {
    chengeModel(e) {
      this.chengedModel = e;
    },
    chengeSize(e) {
      this.chengedSize = e;
    },
    chengeColor(e) {
      this.chengedColor = e;
    },
    chengeCat(e) {
      this.cardId = e.idCat;
      this.$emit("cardsId", this.cardId);
      //   this.noProducts = true;
    },
    idCat(id) {
      this.cardId = id;
      this.$emit("cardsId", this.cardId);
    },
    video(video) {
      this.videos = video;
    },
    noProduct(no) {
      console.log("NO PRODUCT", no);
      return (this.noProducts = no);
    }
  }
};
</script>

<style scoped>
.tab-pane.active {
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: -ms-flexbox;
  display: flex;
}
</style>

