<template>
  <div class="right-block" v-if="postData.title">
    <p class="title">{{postData.title}}</p>

    <a class="more" href="#" @click.prevent="readMore" :class="{open:readMoreFlag}">Подробности</a>
    <transition name="fade">
      <div class="description" v-show="readMoreFlag">
        <p class="subtitle">МАТЕРИАЛ – {{postData.material}}</p>
        <p class="subtitle">{{postData.productPackage.title}}:</p>
        <ul>
          <li v-for="(val, i) in postData.productPackage.package_out" :key="i">{{val.text}}</li>
        </ul>
        <p>{{postData.productPackage.read_more_title}}:</p>
        <ul>
          <li
            v-for="(packageIn, j) in postData.productPackage.package_in"
            :key="j"
          >{{packageIn.text}}</li>
        </ul>
        <p>{{postData.productPackage.noteTitle}}</p>
        <p>{{postData.description}}</p>
        <h4>Характеристики</h4>
        <ul class="specifications">
          <li>Вес: {{specifications.wt}}</li>
          <li>Высота: {{specifications.height}}</li>
          <li>Глубина: {{specifications.depth}}</li>
          <li>Объем: {{specifications.vol}}</li>
          <li>Ширина: {{specifications.width}}</li>
        </ul>
      </div>
    </transition>
    <p class="price">
      <span :class="{sileP :sailPrice}">{{price}}</span>&#8381;
      <span class="sail" v-if="sailPrice">{{sailPrice}}&#8381;</span>
    </p>
    <div v-if="colorPannels">
      <p>Цвета:</p>
      <div class="colors">
        <div
          class="color"
          :data-tooltip="color.color.tooltip"
          v-for="(color, g) in postData.color"
          :key="g"
        >
          <input
            :id="color.color.name_color"
            type="radio"
            name="color"
            v-model="colorSelect"
            :value="color.color.name_color"
          >
          <label
            :for="color.color.name"
            :style="'background:'+ color.color.code_color"
            @click="choiseColor(g)"
          ></label>
        </div>
      </div>
    </div>
    <div class="model">
      <label>Модель</label>
      <div class="buttons">
        <button
          class="model_btn"
          v-for="(model, i) in modelItem"
          :key="i"
          @click="selectModelHandler(i, model.models.title)"
          :class="{ active:isActiveModel(model.models.title) }"
        >{{model.models.title}}</button>
      </div>
    </div>
    <div class="size">
      <label>Размер</label>
      <button
        class="sizes"
        v-for="(size, i) in sizesModel"
        :key="i"
        @click="sizesModelHandler(i, size.param_size.size)"
        :class="{ active:isActive(size.param_size.size) }"
      >
        <span class="size-text">{{size.param_size.size}}</span>
        <span class="vol-text">{{size.specifications.vol}}</span>
      </button>
    </div>
    <ul class="buttons">
      <li>
        <a class="button icon-cart" href="#" @click.prevent="addCard">В корзину</a>
      </li>
      <li>
        <a class="button icon-card" href="#" @click.prevent="checkout">Заказать</a>
      </li>
    </ul>
  </div>
</template>

<script>
import req from "superagent";

// var urlAjax = {
//   url: "http://mateza.alscon-clients.com/wp-admin/admin-ajax.php",
//   homeUrl: "https://el-case.ru",
//   checkoutURl: "/checkout/",
//   cartURl: "/cart/"
// };
export default {
  props: ["startCat"],
  data() {
    return {
      selectColor: {},
      sizesModel: {},
      selectSize: {},
      indexSize: 0,
      indexColor: 0,
      selectModel: {},
      readMoreFlag: false,
      colorPannels: false,
      postData: {},
      modelItem: {},
      specifications: {},
      price: 0,
      sail: 0,
      colorSelect: "",
      modelImage: {},
      activeItem: "s",
      activeModel: "",
      no_product: false
    };
  },
  methods: {
    readMore() {
      this.readMoreFlag = !this.readMoreFlag;
    },
    selectModelHandler(i, text) {
      this.selectModel = this.modelItem[i].models;

      req
        .get(urlAjax.homeUrl + "/wp-json/rest_prod/v1/product-by-id")
        .set("Accept", "application/json")
        .query({ id: this.selectModel.id })
        .then(res => {
          if (res.body) {
            this.postData = res.body;
            this.selectColor = this.postData.color[0];
            this.modelImage = this.selectColor.color.img_def;
            this.activeModel = this.modelItem[i].models.title;
            this.selectSize = this.postData.color[0].sizes[0];
            this.sizesModel = this.postData.color[0].sizes;
            this.price = this.selectSize.param_size.price;
            this.activeItem = this.postData.color[0].sizes[0].param_size.size;
            this.specifications = this.postData.color[this.indexColor].sizes[this.indexSize].specifications;
            if (this.postData.color[0].color.code_color === "") {
              this.colorPannels = false;
            } else {
              this.colorPannels = true;
            }
          }
          this.$emit("changeColors", this.modelImage);
        });
    },
    isActive: function(menuItem) {
      console.log(typeof menuItem, menuItem);
      return this.activeItem === menuItem;
    },
    isActiveModel: function(menuItem) {
      return this.activeModel === menuItem;
    },
    sizesModelHandler(i, menuItem) {
      this.indexSize = i;

      this.selectSize = this.postData.color[this.indexColor].sizes[this.indexSize];

      this.price = this.selectSize.param_size.price;

      this.sail = this.postData.color[this.indexColor].sizes[this.indexSize].param_size.sales;

      this.specifications = this.postData.color[this.indexColor].sizes[this.indexSize].specifications;

      this.modelImage = this.selectSize.images;

      this.activeItem = menuItem;

      this.$emit("changeColors", this.modelImage);
    },
    choiseColor(i) {
      this.selectColor = this.postData.color[i];
      this.colorSelect = this.postData.color[i].color;
      this.indexColor = i;
      console.log("modelImage -> indexSize", this.indexSize);
      this.modelImage = this.selectColor.sizes[this.indexSize].images;
      this.sail = this.postData.color[i].sizes[this.indexSize].param_size.sales;
      this.$emit("changeColors", this.modelImage);
    },
    addCard() {
      let dataSend = {};
      dataSend.action = "addCard";
      dataSend.model = this.selectModel.title;
      dataSend.size = this.sizesModel[this.indexSize].param_size.size;
      if (this.colorPannels) {
        dataSend.color = this.colorSelect.name_color;
      } else {
        dataSend.color = "no color";
      }
      dataSend.image = this.modelImage[0].image;
      if (this.sailPrice) {
        dataSend.price = this.sailPrice;
      } else {
        dataSend.price = this.price;
      }
      console.log(dataSend);
      req
        .post(urlAjax.url)
        .set("Accept", "application/json")
        .query(dataSend)
        .then(res => {
          console.log("res", res);
          let cardItem = JSON.parse(res.text);
          console.log("cardItem", cardItem);
          let card = document.getElementsByClassName("cart");
          card[0].style.display = "flex";
          card[0].firstElementChild.innerText = cardItem.cards_item.length;
        });
    },
    checkout() {
      let dataSend = {};
      dataSend.action = "addCard";
      dataSend.model = this.selectModel.title;
      dataSend.size = this.sizesModel[this.indexSize].param_size.size;
      if (this.colorPannels) {
        dataSend.color = this.colorSelect.name_color;
      } else {
        dataSend.color = "no color";
      }
      dataSend.image = this.modelImage[0].image;
      if (this.sailPrice) {
        dataSend.price = this.sailPrice;
      } else {
        dataSend.price = this.price;
      }
      req
        .post(urlAjax.url)
        .set("Accept", "application/json")
        .query(dataSend)
        .then(res => {
          let cardItem = JSON.parse(res.text);
          let card = document.getElementsByClassName("cart");
          card[0].style.display = "flex";
          card[0].firstElementChild.innerText = cardItem.cards_item.length;
          window.location.href = urlAjax.cartURl;
        });

      /**
       * This feature is commented out by the client and made a one-click purchase.
       */

      //   let dataSend = {};
      //   dataSend.action = "goToCheckout";
      //   dataSend.model = this.selectModel.title;
      //   dataSend.size = this.sizesModel[this.indexSize].param_size.size;
      //   if (this.colorPannels) {
      //     dataSend.color = this.colorSelect.name_color;
      //   } else {
      //     dataSend.color = "no color";
      //   }
      //   dataSend.image = this.modelImage[0].image;
      //   if (this.sailPrice) {
      //     dataSend.price = this.sailPrice;
      //   } else {
      //     dataSend.price = this.price;
      //   }
      //   console.log("checkout", dataSend);
      //   req
      //     .post(urlAjax.url)
      //     .set("Accept", "application/json")
      //     .query(dataSend)
      //     .then(res => {
      //       console.log(res);
      //       let resJson = JSON.parse(res.text);
      //       window.location.href = resJson.checkoutURl;
      //     });
    }
  },
  watch: {
    startCat(val) {
      req
        .get(urlAjax.homeUrl + `/wp-json/rest_prod/v1/products`)
        .set("Accept", "application/json")
        .query({ cat_id: val })
        .then(res => {
          this.modelItem = res.body;
          if (this.modelItem.length === 0) {
            this.no_product = true;
            this.$emit("noProduct", this.no_product);
          } else {
            this.no_product = false;
            this.selectModel = this.modelItem[0].models;
            this.activeModel = this.modelItem[0].models.title;
            this.$emit("noProduct", this.no_product);
          }

          req
            .get(urlAjax.homeUrl + "/wp-json/rest_prod/v1/product-by-id")
            .set("Accept", "application/json")
            .query({ id: this.selectModel.id })
            .then(res => {
              if (res.body !== undefined) {
                this.postData = res.body;
                this.sizes = this.postData.color[0].sizes[0].param_size.size;
                this.sizesModel = this.postData.color[0].sizes;
                this.price = this.postData.color[0].sizes[0].param_size.price;
                this.specifications = this.postData.color[0].sizes[0].specifications;
                this.indexSize = 0;
                this.indexColor = 0;
                if (this.postData.color[0].sizes[0].param_size.sales === "") {
                  this.sail = 0;
                } else {
                  this.sail = this.postData.color[0].sizes[0].param_size.sales;
                }
                this.selectColor = this.postData.color[0];
                this.colorSelect = this.postData.color[0].color;
                this.modelImage = this.selectColor.color.img_def;
                this.activeItem = this.postData.color[0].sizes[0].param_size.size;
                if (this.postData.color[0].color.code_color === "") {
                  this.colorPannels = false;
                } else {
                  this.colorPannels = true;
                }
              }
              this.$emit("changeColors", this.modelImage);
              this.$emit("video", this.postData.video);
            });
        });
    }
  },
  computed: {
    sailPrice() {
      if (this.sail !== 0 && this.sail !== "") {
        let newPrice = (this.price / 100) * this.sail;
        return Math.ceil(this.price - newPrice);
      } else {
        return 0;
      }
    }
  },
  created() {}
};
</script>

<style scoped>
ul {
  list-style: none;
  padding-left: 0;
}
.fade-enter-active,
.fade-leave-active {
  transition: opacity 0.9s;
}
.fade-enter,
.fade-leave-to {
  opacity: 0;
  transition: opacity 0.3s;
}

.custom-select-wrapper {
  position: relative;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  border: 1px solid #000;
  max-width: 350px;
}

.custom-select {
  position: relative;
}
.custom-select-wrapper .custom-select-trigger {
  position: relative;
  display: block;
  padding: 0 55px 0 20px;
  font-size: 14px;
  font-weight: 300;
  color: #000;
  line-height: 40px;
  cursor: pointer;
}
.custom-select-wrapper .custom-select.opened .custom-options {
  opacity: 1;
  visibility: visible;
  pointer-events: all;
  transform: translateY(0);
}
.custom-options {
  top: 100%;
  left: 0;
  right: 0;
  min-width: 100%;
  margin: 10px 0;
  border: 1px solid #000;
  border-radius: 4px;
  box-sizing: border-box;
  box-shadow: 0 2px 1px rgba(0, 0, 0, 0.07);
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  transform: translateY(-15px);
  z-index: 1;
}
.custom-option:first-of-type {
  border-radius: 4px 4px 0 0;
}

.custom-options,
.custom-options:before {
  position: absolute;
  display: block;
  background: #fff;
  transition: all 0.4s ease-in-out;
}
.custom-options:before {
  content: "";
  bottom: 100%;
  right: 25px;
  width: 7px;
  height: 7px;
  margin-bottom: -2px;
  border-top: 1px solid #000;
  border-left: 1px solid #000;
  transform: rotate(45deg);
}
.custom-option {
  position: relative;
  display: block;
  padding: 0 22px;
  border-bottom: 1px solid #000;
  font-size: 14px;
  font-weight: 600;
  color: #000;
  line-height: 40px;
  cursor: pointer;
  transition: all 0.4s ease-in-out;
}
.right-block {
  padding: 20px 0 0 40px;
}

.right-block .more:before {
  content: "";
  border: 5px solid transparent;
  border-left: 7px solid #000;
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  margin-top: -1px;
  transition: all 0.1s linear;
}

.right-block p.title {
  font-size: 22px;
  margin-bottom: 15px;
}

.right-block p.subtitle {
  font-size: 14px;
  margin-bottom: 5px;
}

.right-block ul li {
  font-size: 16px;
  position: relative;
  margin-bottom: 5px;
}

.right-block ul li:before {
  content: "";
  position: relative;
  display: inline-block;
  width: 2px;
  height: 2px;
  border-radius: 50%;
  background: #000;
  margin-right: 5px;
  vertical-align: middle;
}

.right-block .more {
  margin-top: 30px;
  position: relative;
  display: block;
  font-size: 14px;
  color: #000;
  padding-left: 15px;
}

.right-block .more.open:before {
  transform: rotate(90deg) translate(-2px);
}

.right-block .description {
  margin-top: 50px;
}

.right-block .description p {
  font-size: 14px;
  line-height: 1.6;
}

.right-block .price {
  font-size: 26px;
  margin-top: 10px;
}

.right-block .color-label {
  font-size: 14px;
  line-height: 1.6;
  margin-top: 10px;
  margin-bottom: 5px;
}

.right-block .model {
  margin-top: 15px;
  margin-bottom: 40px;
}

.left-block,
.right-block {
  width: 50%;
}
.colors {
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: row;
  flex-direction: row;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  width: 350px;
}

.colors .color:first-of-type,
.colors .color:nth-of-type(10n) {
  margin-left: 0;
}

.colors .color:hover:after,
.colors .color:hover:before {
  display: block;
}

.colors .color:after {
  content: "";
  border: 5px solid transparent;
  border-top: 5px solid #333;
  position: absolute;
  top: -9px;
  left: 50%;
  transform: translate(-50%);
  display: none;
  z-index: 1;
}

.colors .color {
  position: relative;
  margin: 0 10px 20px;
}

.colors .color:before {
  content: attr(data-tooltip);
  position: absolute;
  top: -35px;
  left: 50%;
  font-size: 14px;
  color: #fff;
  transform: translate(-50%);
  padding: 5px 10px;
  border-radius: 5px;
  background: #333;
  display: none;
  z-index: 1;
}

.colors input[type="radio"] {
  display: none;
}

.colors input[type="radio"]:checked + label {
  transform: scale(1.4);
}

.colors label {
  width: 18px;
  height: 18px;
  display: block;
  cursor: pointer;
  transition: all 0.2s linear;
  position: relative;
  box-shadow: 1px 1px 3px 1px rgba(0, 0, 0, 0.3);
}
.buttons {
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: row;
  flex-direction: row;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-top: 20px;
  list-style: none;
  padding-left: 0;
}
.buttons li a.icon-card {
  background: #000;
  color: #fff;
  margin-left: 10px;
}

.buttons li a:before {
  margin-right: 5px;
}

.buttons li a {
  width: 125px;
  height: 40px;
  border: 2.5px solid #000;
  line-height: 36px;
  text-align: center;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: row;
  flex-direction: row;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-pack: center;
  justify-content: center;
  font-size: 12px;
  color: #000;
  transition: all 0.5s ease;
}

.buttons li a:hover {
  background: #b2b2b2;
  border-color: #b2b2b2;
  color: #000;
}

.buttons li:before {
  display: none !important;
}
</style>
