<template>
  <div class="wrapper-menu">
    <ul class="nav nav-tabs">
      <li
        :class="[menu.active ? activeClass :'', menu.className]"
        v-for="(menu, index) in menus"
        :key="index"
      >
        <a @click="loadeCard(index)">{{menu.title}}</a>
      </li>
    </ul>
  </div>
</template>

<script>
import req from "superagent";
// var urlAjax = {
//   url: "http://mateza.alscon-clients.com/wp-admin/admin-ajax.php",
//   homeUrl: "https://el-case.ru",
//   checkoutURl: "/checkout/",
//   cartURl: "/cart/"
// };
export default {
  //   props: ["menuData"],
  data() {
    return {
      menus: [],
      activeClass: "active",
      classHint: "hits",
      selectCat: {},
      no_product: false
    };
  },
  methods: {
    loadeCard(index) {
      this.menus[index].active = true;
      for (let i = 0; i <= this.menus.length - 1; i++) {
        if (i !== index) {
          this.menus[i].active = false;
        }
      }
      this.selectCat = this.menus[index];
      console.log("loadeCard", this.selectCat.product_in_cat);
      if (this.selectCat.product_in_cat === 0) {
        let noProducts = { no_product: true };
        // this.no_product = true;
        this.$emit("chengeCat", noProducts);
        console.log("no");
      } else {
        this.$emit("chengeCat", this.selectCat);
      }
    }
  },
  computed: {},
  mounted() {
    req.get(urlAjax.homeUrl + "/wp-json/rest_prod/v1/product-cat").then(res => {
      this.menus = res.body;
      this.$emit("menuId", this.menus[0].idCat);
    });
  }
};
</script>

<style scoped>
ol,
ul {
  list-style: none;
}
.nav-tabs {
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: row;
  flex-direction: row;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-bottom: 30px;
  -ms-flex-pack: justify;
  justify-content: space-between;
}
.nav-tabs li {
  width: calc(100% / 4 - 23px);
  margin-right: 30px;
  margin-bottom: 30px;
}
.nav-tabs a {
  display: block;
  border: 2px solid #000;
  width: 100%;
  text-align: center;
  color: #000;
  font-size: 14px;
  line-height: 46px;
  height: 50px;
  transition: all 0.5s ease;
  cursor: pointer;
}
.nav-tabs li.active a {
  background-color: rgba(0, 0, 0, 0.13);
  pointer-events: none;
  color: #000;
  cursor: pointer;
}
</style>

