<template>
  <div class="left-block" v-if="loadeImg">
    <div class="product-slider">
      <slick ref="slick" :options="slickOptions">
        <div class="item" v-for="(image, i) in images" :key="i">
          <img :src="image.image" alt>
          <a :href="image.image" data-fancybox="gallery-1"></a>
        </div>
      </slick>
      <button class="open-video" href="#" @click.prevent="openModal">
        Смотреть видео обзор
        <i class="icon-google-play"></i>
      </button>
      <modal :openModal="showModal" @close="closeModal" :videoData="videoData"></modal>
    </div>
  </div>
</template>

<script>
import slick from "vue-slick";
import "slick-carousel/slick/slick.css";
import "slick-carousel/slick/slick-theme.css";
import modal from "./modal.vue";
export default {
  components: { slick, modal },
  props: ["photoImg", "videoData"],
  data() {
    return {
      slickOptions: {
        slidesToShow: 1,
        infinite: false,
        prevArrow: '<i class="icon-arrow-left">',
        nextArrow: '<i class="icon-arrow-right">',
        responsive: [
          {
            breakpoint: 767,
            settings: {
              adaptiveHeight: true
            }
          }
        ]
      },
      showModal: false,
      images: [],
      loadeImg: false
    };
  },
  methods: {
    next() {
      this.$refs.slick.next();
    },

    prev() {
      this.$refs.slick.prev();
    },
    openModal() {
      this.showModal = true;
    },
    closeModal(e) {
      this.showModal = e;
    }
  },
  computed: {},
  watch: {
    photoImg(val) {
      this.images = val;
      this.loadeImg = true;
      if (this.$refs.slick !== undefined) {
        this.$refs.slick.destroy();
        this.$nextTick(() => {
          this.$refs.slick.create();
        });
      }
    }
  }
};
</script>

<style scoped>
.left-block,
.right-block {
  width: 50%;
}
.slick-slider i.icon-arrow-left {
  display: block;
  width: 50px !important;
  height: 50px !important;
  background: #000 !important;
}
button {
  color: #337ab7;
}
.open-video {
  width: 50%;
  text-align: center;
  font-size: 18px;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: row;
  flex-direction: row;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -ms-flex-pack: center;
  justify-content: center;
  margin-top: 40px;
  background: none;
  box-shadow: none;
  border: none;
}
.product-slider {
  margin: 0 auto;
}
.product-slider .slick-slide {
  position: relative;
}
.product-slider .slick-slide a {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}
.product-slider .slick-slide img {
  object-fit: contain;
  object-position: center;
  height: 575px;
  width: 100%;
  margin: 0 auto;
}
</style>
