doctype html
html
	head
		meta(charset="utf-8")
		meta(http-equiv="X-UA-Compatible", content="IE=edge")
		meta(name="viewport", content="width=device-width, initial-scale=1")
		title Test Pug Page
		link(href="css/main.css" rel="stylesheet")
		link(href="https://fonts.googleapis.com/css?family=Montserrat:300,400,600,700|Roboto:300,400,600,700" rel="stylesheet")
		//(if lt IE 9)
		script(src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js")
		script(src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js")
		//(endif)
	body
		include layout/header.pug
		include layout/contacts-content.pug
		include layout/footer.pug

		script(src="js/build.js")
		script(src="https://api-maps.yandex.ru/2.1/?apikey=2ac3eb70-0ec0-4d7d-89d6-b7d3eabec2ec&lang=ru_RU" type="text/javascript")
		script(src="js/map.js" type="text/javascript")
