/**
custom-icons Webfont
*/

@font-face {
    font-family: 'GOTHIC';
    src: url('../fonts/GOTHIC.ttf');
    src: url('../fonts/GOTHIC-icons.eot') format('embedded-opentype'), url('../fonts/GOTHIC-icons.woff2') format('woff2'), url('../fonts/customGOTHICicons.woff') format('woff'), url('../fonts/GOTHIC-icons.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'custom-icons';
    src: url('../fonts/custom-icons.eot?1553674409377');
    src: url('../fonts/custom-icons.eot?#iefix-1553674409377') format('embedded-opentype'), url('../fonts/custom-icons.woff2?1553674409377') format('woff2'), url('../fonts/custom-icons.woff?1553674409377') format('woff'), url('../fonts/custom-icons.ttf?1553674409377') format('truetype');
    font-weight: normal;
    font-style: normal;
}

[class^='icon-']:before,
[class*=' icon-']:before {
    font-family: 'custom-icons';
    display: inline-block;
    vertical-align: middle;
    line-height: 1;
    font-weight: normal;
    font-style: normal;
    speak: none;
    text-decoration: inherit;
    font-size: inherit;
    text-transform: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}


/*
Glyphs list
*/

.icon-arrow-left:before {
        content: '\ea01';
    }
    .icon-arrow-right:before {
        content: '\ea02';
    }
    .icon-arrow:before {
        content: '\ea03';
    }
    .icon-card:before {
        content: '\ea04';
    }
    .icon-cart:before {
        content: '\ea05';
    }
    .icon-facebook:before {
        content: '\ea06';
    }
    .icon-google-play:before {
        content: '\ea07';
    }
    .icon-instagram:before {
        content: '\ea08';
    }
    .icon-minus:before {
        content: '\ea09';
    }
    .icon-phone:before {
        content: '\ea0a';
    }
    .icon-pinterest:before {
        content: '\ea0b';
    }
    .icon-play:before {
        content: '\ea0c';
    }
    .icon-plus:before {
        content: '\ea0d';
    }
    .icon-remove:before {
        content: '\ea0e';
    }
    .icon-ruble:before {
        content: '\ea0f';
    }
    .icon-sent-mail:before {
        content: '\ea10';
    }
    .icon-stop:before {
        content: '\ea11';
    }
    .icon-suitcase:before {
        content: '\ea12';
    }
    .icon-telegram:before {
        content: '\ea13';
    }
    .icon-twitter:before {
        content: '\ea14';
    }
    .icon-up-arrow:before {
        content: '\ea15';
    }
    .icon-viber:before {
        content: '\ea16';
    }
    .icon-vk:before {
        content: '\ea17';
    }
    .icon-whatsapp:before {
        content: '\ea18';
    }
