@mixin translate($x,$y) {
	-webkit-transform: translate($x,$y);
	-moz-transform: translate($x,$y);
	-ms-transform: translate($x,$y);
	-o-transform: translate($x,$y);
	transform: translate($x,$y);
}
$black:#000;
header{
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	padding: 11.6px 0;
	background: #fff;
	z-index: 10;
	box-shadow: 0 0 6px 2px rgba(0,0,0,0.1);
	width: 100vw;
	.burger-menu{
		display: none;
	}
	a{
		color: $black;
	}
	.col-lg-12{
		display: -webkit-flex;
		display: -moz-flex;
		display: -ms-flex;
		display: -o-flex;
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		align-items: center;
	}
	.logo{
		display: -webkit-inline-flex;
		display: -moz-inline-flex;
		display: -ms-inline-flex;
		display: -o-inline-flex;
		display: inline-flex;
		img{
			height: 60px;
		}
	}
	.links{
		display: -webkit-inline-flex;
		display: -moz-inline-flex;
		display: -ms-inline-flex;
		display: -o-inline-flex;
		display: inline-flex;
		flex-direction: column;
		width: calc(100% - 150px);
		ul{
			display: -webkit-flex;
			display: -moz-flex;
			display: -ms-flex;
			display: -o-flex;
			display: flex;
			flex-direction: row;
			flex-wrap: wrap;
			justify-content: flex-end;
			align-items: center;
			margin-bottom: 15px;
			&.tel{
				li{
					margin-left: 15px;
					a{
						font-weight: 700;
						font-size: 20px;
						&.icon-viber,
						&.icon-whatsapp,
						&.icon-telegram{
							line-height: 1;
						}
						&.icon-viber{
							&:before{
								color: #935daa;
							}
						}
						&.icon-whatsapp{
							&:before{
								color: #17a318;
							}
						}
						&.icon-telegram{
							&:before{
								color: #00a6dc;
							}
						}
						&:before{
							font-size: 26px;
						}
					}
				}
			}
			&.menu{
				font-size: 18px;
				width: 100%;
				justify-content: space-between;
				li{

				}
			}
			&.soc{
				margin-bottom: 0;
				li{
					margin-left: 20px;
				}
			}
		}
	}
}
