@mixin translate($x,$y) {
	-webkit-transform: translate($x,$y);
	-moz-transform: translate($x,$y);
	-ms-transform: translate($x,$y);
	-o-transform: translate($x,$y);
	transform: translate($x,$y);
}
@mixin transition($s,$animation) {

	-webkit-transition: all $s $animation;
	-moz-transition: all $s $animation;
	-ms-transition: all $s $animation;
	-o-transition: all $s $animation;
	transition: all $s $animation;
}
$white:#fff;
$black:#000;
section{
	overflow: hidden;
	.container-fluid{
		padding: 0;
	}
}
.banner{
	.video{
		position: relative;
		overflow: hidden;
		&:before{
			content: '';
			position: absolute;
			top: 0;
			bottom: 4px;
			right: 0;
			left: 0;
			background-color: rgba(0,0,0,.26);
		}
		video{
			width: 100%;
			height: 540px;
			object-fit: cover;
			object-position: center;
		}
	}
	.banner-content{
		position: absolute;
		top: 50%;
		left: 50%;
		@include translate(-50%,-50%);
		display: -webkit-flex;
		display: -moz-flex;
		display: -ms-flex;
		display: -o-flex;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;

		img{
			max-width: 310px;
			width: 100%;
			margin-bottom: 13px;
		}
		div{
			font-size: 26px;
			color: $white;
			text-align: center;
			strong{
				font-weight: 600;
			}
			span{
				display: block;
				margin-top:6px;
				font-size: 10px;
				font-weight: 600;
				display: table;
				margin: 0 auto ;
			}
		}

	}
}
h2{
	font-size: 28px;
	color: $black;
	text-align: center;
	text-transform: uppercase;
	margin-bottom: 30px;
	line-height: 1.6;
	span{
		font-size: 10px;
		font-weight: 600;
		display: table;
		margin: 0 auto ;
	}
	strong{
		font-weight: 600;
	}
}
.advantages{
	padding: 70px 0 0px;

	.items{
		display: -webkit-flex;
		display: -moz-flex;
		display: -ms-flex;
		display: -o-flex;
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		justify-content: center;
		.item{
			width: calc(100% / 4);
			margin-bottom: 30px;
			text-align: center;
			p{
				font-size: 16px;
				margin-bottom: 10px;
				line-height: 1.4;
			}
			img{
				width: 47px;
				height: 47px;
				margin-bottom: 10px;
				object-fit: contain;
				object-position: center;
			}
		}
	}
}
.about-company{
	background: #fafafa;
	padding: 0px 0 100px;
	.col-lg-12{
		display: -webkit-flex;
		display: -moz-flex;
		display: -ms-flex;
		display: -o-flex;
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
	}
	h2{
		width: 100%;
	}
	.left-block{
		width: 35%;
		padding-right: 50px;
		p{
			text-align: center;
			font-size: 24px;
		}
		img{
			width: 100%;
			height: 400px;
			object-fit: cover;
			object-position: top;
			margin: 20px 0;
			& + p{
				font-size: 16px;
			}
		}
	}
	.right-block{
		width: calc(100% - 35%);
		padding-top: 45px;
		h5{
			font-size: 9px;
			text-transform: uppercase;
			padding-left: 5px;
		}
		img{
			margin: 10px 0;
			& + h5{
				text-transform: none;
				font-size: 10px;
			}
		}
		p{
			font-size: 14px;
			margin-bottom: 25px;
			line-height: 22.4px;
			&:last-of-type{
				margin-bottom: 0;
			}
		}
	}
}
.catalog{
	padding:30px 0 40px;
	h1{
		font-size: 28px;
		color: $black;
		text-align: center;
		text-transform: uppercase;
		margin-bottom: 30px;
		line-height: 1.6;
		span{
			font-size: 8px;
			font-weight: 600;
			display: table;
			margin: 0 auto ;
		}
		strong{
			font-weight: 600;
		}
	}
	.nav-tabs{
		display: -webkit-flex;
		display: -moz-flex;
		display: -ms-flex;
		display: -o-flex;
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		margin-bottom: 30px;
		justify-content: space-between;
		li{
			width: calc(100% / 4 - 23px);
			margin-right: 30px;
			margin-bottom: 30px;
			&:nth-of-type(4n){
				margin-right: 0;
			}
			&.active{
				a{
					background-color: rgba(0,0,0,.13);
					pointer-events: none;
					color: $black;
				}
			}
			&:hover{
				a{
					background: $black;
					color: $white;
				}
			}
		}
		a{
			display: block;
			border:2px solid $black;
			width: 100%;
			text-align: center;
			color: $black;
			font-size: 14px;
			line-height: 46px;
			height: 50px;
			@include transition(0.5s ease);
		}
	}
	.right-block
	{
		padding:20px 0 0 40px;
		p.title{
			font-size: 22px;
			margin-bottom: 15px;
		}
		p.subtitle{
			font-size: 14px;
			margin-bottom: 5px;
		}
		ul{
			li{
				font-size: 16px;
				position: relative;
				margin-bottom: 5px;
				&:before{
					content: '';
					position: relative;
					display: inline-block;
					width: 2px;
					height: 2px;
					border-radius: 50%;
					background: $black;
					margin-right: 5px;
					vertical-align: middle;
				}
			}
		}
		.more{
			margin-top: 30px;
			position: relative;
			display: block;
			font-size: 14px;
			color: $black;
			padding-left: 15px;
			&.open{
				&:before{
					transform:rotate(90deg) translate(-2px,0px);
				}
			}
			&:before{
				content: '';
				border: 5px solid transparent;
				border-left: 7px solid #000;
				position: absolute;
				top: 50%;
				left: 0;
				@include translate(0,-50%);
				margin-top: -1px;
				@include transition(0.1s linear);
			}
		}
		.description{
			margin-top: 50px;
			display: none;
			p{
				font-size: 14px;
				line-height: 1.6;
			}
		}
		.price{
			font-size: 26px;
			margin-top: 10px;
		}
		.color-label{
			font-size: 14px;
			line-height: 1.6;
			margin-top: 10px;
			margin-bottom: 5px;

		}
		.colors{
			margin-top: 5px;
		}
		.model{
			margin-top: 15px;
			margin-bottom: 20px;
		}
	}
	.right-block,
	.left-block{
		width: calc(100% / 2);
	}
	.tab-pane{
		display: none;
		&.active{
			display: -webkit-flex;
			display: -moz-flex;
			display: -ms-flex;
			display: -o-flex;
			display: flex;
		}
	}
	.product-slider{
		margin: 0 auto;
		.item{
			position: relative;
			a{
				position: absolute;
				top: 0;
				bottom: 0;
				left: 0;
				right: 0;
			}
			img{
				object-fit: contain;
				object-position: center;
				height: 575px;
				width: 100%;
				margin: 0 auto;
			}
		}

	}
	.colors{
		display: -webkit-flex;
		display: -moz-flex;
		display: -ms-flex;
		display: -o-flex;
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		width: 350px;
		.color{
			position: relative;
			margin: 0 10px 20px;
			&:before{
				content: attr(data-tooltip);
				position: absolute;
				top: -30px;
				left: 50%;
				font-size: 14px;
				color: $white;
				@include translate(-50%,0);
				padding: 5px 10px;
				border-radius: 5px;
				background: #333;
				display: none;
				z-index: 1;
			}
			&:after{
				content: '';
				border: 5px solid transparent;
				border-top: 5px solid #333;
				position: absolute;
				top: -4px;
				left: 50%;
				@include translate(-50%,0);
				display: none;
				z-index: 1;
			}
			&:hover{
				&:before{
					display: block;
				}
				&:after{
					display: block;
				}
			}
			&:first-of-type{
				margin-left: 0;
			}
			&:nth-of-type(10n){
				margin-left: 0;
			}
		}
		input{
			&[type="radio"]{
				display: none;
				&:checked{
					& + label{
						transform: scale(1.4);
					}
				}
			}
		}
		label{
			width: 18px;
			height: 18px;
			display: block;
			cursor: pointer;
			@include transition(0.2s linear);
			position: relative;
			box-shadow: 1px 1px 3px 1px rgba(0,0,0,0.3);
		}
	}
	.size,
	.model{
		label{
			margin-bottom: 5px;
			font-size: 14px;
			display: block;
			line-height: 1.6;
		}
	}
	.buttons{
		display: -webkit-flex;
		display: -moz-flex;
		display: -ms-flex;
		display: -o-flex;
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		margin-top: 20px;
		li{
			&:before{
				display: none !important;
			}
			a{
				width: 125px;
				height: 40px;
				border: 2.5px solid $black;
				line-height: 36px;
				text-align: center;
				display: flex;
				flex-direction: row;
				align-items: center;
				justify-content: center;
				font-size: 12px;
				color: $black;
				@include transition(0.5s ease);
				&:hover{
					background: #b2b2b2;
					border-color: #b2b2b2;
					color: $black;
				}
				&:before{
					margin-right: 5px;
				}
				&.icon-card{
					background: $black;
					color: $white;
					margin-left: 10px;
				}
			}
		}
	}
	.open-video{
		width: 100%;
		text-align: center;
		font-size: 18px;
		display: -webkit-flex;
		display: -moz-flex;
		display: -ms-flex;
		display: -o-flex;
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		justify-content: center;
		align-items: center;
		margin: 40px 0 0;
		background-color: transparent;
		border: none;
		i{
			margin-left: 15px;
		}
	}
}
.slick-arrow{
	position: absolute;
	top: 50%;
	@include translate(0,-50%);
	z-index: 1;
	font-size: 18px;
	width: 32px;
	height: 32px;
	line-height: 32px;
	border-radius: 5px;
	text-align: center;
	cursor: pointer;
	@include transition(0,5s ease);
	background-color: rgba(255,255,255,.8);
	&:hover{
		background-color: rgba(0,0,0,.3);
		border-color: #22243a;
		color: #868686;
	}
	&.icon-arrow-left{
		left: 20px;
	}
	&.icon-arrow-right{
		right: 20px;
	}
	&.slick-disabled{
		pointer-events: none;
		opacity: 0.2;
	}
}
.custom-select-wrapper {
	position: relative;
	user-select: none;
	border: 1px solid $black;
	max-width: 350px;
	select {
		display: none;
	}
	.custom-select {
		position: relative;
		&-trigger {
			position: relative;
			display: block;
			padding: 0 55px 0 20px;
			font-size: 14px;
			font-weight: 300;
			color: #000;
			line-height: 40px;
			cursor: pointer;
			&:after {
				position: absolute;
				display: block;
				content: '';
				width: 10px;
				height: 10px;
				top: 50%;
				right: 25px;
				margin-top: -3px;
				border-bottom: 1px solid $black;
				border-right: 1px solid $black;
				transform: rotate(45deg) translateY(-50%);
				transition: all .4s ease-in-out;
				transform-origin: 50% 0;
			}
		}
		&.opened{
			.custom-select-trigger{
				&:after {
					margin-top: 3px;
					transform: rotate(-135deg) translateY(-50%);
				}
			}
			.custom-options {
				opacity: 1;
				visibility: visible;
				pointer-events: all;
				transform: translateY(0);
			}
		}
	}
}
.custom-options {
	position: absolute;
	display: block;
	top: 100%;
	left: 0;
	right: 0;
	min-width: 100%;
	margin: 10px 0;
	border: 1px solid $black;
	border-radius: 4px;
	box-sizing: border-box;
	box-shadow: 0 2px 1px rgba(0, 0, 0, .07);
	background: #fff;
	transition: all .4s ease-in-out;
	opacity: 0;
	visibility: hidden;
	pointer-events: none;
	transform: translateY(-15px);
	z-index: 1;
	&:before {
		position: absolute;
		display: block;
		content: '';
		bottom: 100%;
		right: 25px;
		width: 7px;
		height: 7px;
		margin-bottom: -2px;
		border-top: 1px solid $black;
		border-left: 1px solid $black;
		background: #fff;
		transform: rotate(45deg);
		transition: all .4s ease-in-out;
	}
}
.option-hover:before {
	background: #f9f9f9;
}
.custom-option {
	position: relative;
	display: block;
	padding: 0 22px;
	border-bottom: 1px solid $black;
	font-size: 14px;
	font-weight: 600;
	color: $black;
	line-height: 40px;
	cursor: pointer;
	transition: all .4s ease-in-out;
	&:first-of-type {
		border-radius: 4px 4px 0 0;
	}
	&:last-of-type {
		border-bottom: 0;
		border-radius: 0 0 4px 4px;
	}
}
.banner-mini{
	position: relative;
	background-size: cover;
	background-position: center;
	&.shares{
		background-position: top center;
		&:before{
			background-image: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIGZpbGw9IiNmZmZmZmYiIHByZXNlcnZlQXNwZWN0UmF0aW89Im5vbmUiIHZpZXdCb3g9IjAgMCAxMjgwIDE0MCIgc3R5bGU9ImhlaWdodDogMzBweDsiPgogICAgPHBhdGggZD0iTTAgNTEuNzZjMzYuMjEtMi4yNSA3Ny41Ny0zLjU4IDEyNi40Mi0zLjU4IDMyMCAwIDMyMCA1NyA2NDAgNTcgMjcxLjE1IDAgMzEyLjU4LTQwLjkxIDUxMy41OC01My40VjBIMHoiIGZpbGwtb3BhY2l0eT0iLjMiPjwvcGF0aD4KICAgIDxwYXRoIGQ9Ik0wIDI0LjMxYzQzLjQ2LTUuNjkgOTQuNTYtOS4yNSAxNTguNDItOS4yNSAzMjAgMCAzMjAgODkuMjQgNjQwIDg5LjI0IDI1Ni4xMyAwIDMwNy4yOC01Ny4xNiA0ODEuNTgtODBWMEgweiIgZmlsbC1vcGFjaXR5PSIuNSI+PC9wYXRoPgogICAgPHBhdGggZD0iTTAgMHYzLjRDMjguMiAxLjYgNTkuNC41OSA5NC40Mi41OWMzMjAgMCAzMjAgODQuMyA2NDAgODQuMyAyODUgMCAzMTYuMTctNjYuODUgNTQ1LjU4LTgxLjQ5VjB6Ij48L3BhdGg+Cjwvc3ZnPg==");
			display: block !important;
		}
		&:after{
			background-image: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIGZpbGw9IiNmZmZmZmYiIHByZXNlcnZlQXNwZWN0UmF0aW89Im5vbmUiIHZpZXdCb3g9IjAgMCAxMjgwIDE0MCIgc3R5bGU9ImhlaWdodDogMzBweDsgdHJhbnNmb3JtOiByb3RhdGVZKDE4MGRlZyk7Ij4KICAgICAgICAgICAgICAgICAgICA8cGF0aCBkPSJNNzI1LjI5IDEwMS4yQzMyNS4yMiAxMjIuNDggMCAwIDAgMHYxNDBoMTI4MFYwcy0xNTQuNjQgNzkuOTItNTU0LjcxIDEwMS4yeiIgZmlsbC1vcGFjaXR5PSIuMyI+PC9wYXRoPgogICAgICAgICAgICAgICAgICAgIDxwYXRoIGQ9Ik01NTYuNDUgMTE5Ljc0Qzk1My40MSAxNDAgMTI4MCAxNCAxMjgwIDE0djEyNkgwVjBzMTU5LjUgOTkuNDggNTU2LjQ1IDExOS43NHoiIGZpbGwtb3BhY2l0eT0iLjUiPjwvcGF0aD4KICAgICAgICAgICAgICAgICAgICA8cGF0aCBkPSJNNjQwIDE0MGMzNTMuNDYgMCA2NDAtMTQwIDY0MC0xMzl2MTQwSDBWMHMyODYuNTQgMTQwIDY0MCAxNDB6Ij48L3BhdGg+CiAgICAgICAgICAgICAgICA8L3N2Zz4=");
			height: 250px;
		}
		.col-lg-12{
			height: 600px;
			flex-direction: row;
			flex-wrap: wrap;
			justify-content: flex-start;
			align-items: center;
			.left-block{
				padding-bottom: 200px;
			}
			.left-block,
			.right-block{
				width: calc(100% / 2);
			}
			img{
				margin: 0 auto;
				display: table;
				height: 600px;
				width: 600px;
				object-fit: contain;
				object-position: center;
			}
			p{
				text-align: center;
				color: $white;
				font-weight: 300;
				padding: 0 80px;
				strong{
					font-weight: 600;
				}
			}
		}
	}
	.col-lg-12{
		height: 475px;
		display: -webkit-flex;
		display: -moz-flex;
		display: -ms-flex;
		display: -o-flex;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: flex-end;
	}
	.description{
		padding-top: 40px;
		max-width: 430px;
		width: 100%;
		h2{
			color: $white;
			font-weight: 24px;
			text-align: left;
			margin-bottom: 20px;
			text-transform: none;
		}
		p{
			font-size: 14px;
			margin-bottom: 30px;
			color: $white;
		}
		.button{
			font-size: 12px;
			color: $black;
			border: 4px solid $black;
			background: $white;
			display: -webkit-inline-flex;
			display: -moz-inline-flex;
			display: -ms-inline-flex;
			display: -o-inline-flex;
			display: inline-flex;
			flex-direction: row;
			flex-wrap: wrap;
			justify-content: center;
			align-items: center;
			height: 50px;
			line-height: 42px;
			padding: 0 15px;
			margin-bottom: 20px;
			@include transition(0.5s ease);
			&:hover {
				background: #b2b2b2;
				border-color: #b2b2b2;
				color: #000;
			}
			&:before{
				margin-right: 15px;
			}
			&.icon-arrow{
				text-transform: uppercase;
			}
		}
		.soc{
			display: -webkit-flex;
			display: -moz-flex;
			display: -ms-flex;
			display: -o-flex;
			display: flex;
			flex-direction: row;
			flex-wrap: wrap;
			margin-top: 15px;
			position: relative;
			z-index: 1;
			a{
				color: #35353a;
				width: 40px;
				height: 40px;
				display: block;
				line-height: 40px;
				text-align: center;
				font-size: 14px;
				border-radius: 5px;
				@include transition(0.5s ease);
				&:hover{
					background-color: #22243a;
					border-color: #22243a;
					color: #f2f2f2;
				}
			}
		}
	}
	&:before{
		content: '';
		position: absolute;
		left: 0;
		right: 0;
		top: 0;
		height: 100px;
		background-size: 100% 100%;
		background-image: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIGZpbGw9IiNmZmZmZmYiIHByZXNlcnZlQXNwZWN0UmF0aW89Im5vbmUiIHZpZXdCb3g9IjAgMCAxMjgwIDE0MCIgc3R5bGU9ImhlaWdodDogMzBweDsiPgogICAgPHBhdGggZD0iTTk3OC44MSAxMjIuMjVMMCAwaDEyODBsLTI2Mi4xIDExNi4yNmE3My4yOSA3My4yOSAwIDAgMS0zOS4wOSA1Ljk5eiIgZmlsbC1vcGFjaXR5PSIuNSI+PC9wYXRoPgogICAgPHBhdGggZD0iTTk4My4xOSA5NS4yM0wwIDBoMTI4MGwtMjY2IDkxLjUyYTcyLjU4IDcyLjU4IDAgMCAxLTMwLjgxIDMuNzF6Ij48L3BhdGg+Cjwvc3ZnPg==");
		pointer-events: none;
	}
	&:after{
		content: '';
		position: absolute;
		left: 0;
		right: 0;
		bottom: 0;
		height: 100px;
		background-size: 100% 100%;
		background-image: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIGZpbGw9IiNmZmZmZmYiIHByZXNlcnZlQXNwZWN0UmF0aW89Im5vbmUiIHZpZXdCb3g9IjAgMCAxMjgwIDE0MCIgc3R5bGU9ImhlaWdodDogMzBweDsgdHJhbnNmb3JtOiByb3RhdGVZKDE4MGRlZyk7Ij4KICAgICAgICAgICAgICAgICAgICA8cGF0aCBkPSJNMTI4MCAwbC0yNjYgOTEuNTJhNzIuNTkgNzIuNTkgMCAwIDEtMzAuNzYgMy43MUwwIDB2MTQwaDEyODB6IiBmaWxsLW9wYWNpdHk9Ii41Ij48L3BhdGg+CiAgICAgICAgICAgICAgICAgICAgPHBhdGggZD0iTTEyODAgMGwtMjYyLjEgMTE2LjI2YTczLjI5IDczLjI5IDAgMCAxLTM5LjA5IDZMMCAwdjE0MGgxMjgweiI+PC9wYXRoPgogICAgICAgICAgICAgICAgPC9zdmc+");
		pointer-events: none;
	}
}
.banner-title{
	padding: 50px 0 0;
	.banner-mini{
		&:before{
			display: none;
		}
		h5{
			font-size: 14px;
			text-transform: uppercase;
			color: $white;
			margin-bottom: 40px;
		}
		.soc{
			a{
				color: $white;
			}
		}
	}
	& + .banner-title{
		.banner-mini{
			&:after{
				background-image: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIGZpbGw9IiNmZmZmZmYiIHByZXNlcnZlQXNwZWN0UmF0aW89Im5vbmUiIHZpZXdCb3g9IjAgMCAxMjgwIDE0MCIgc3R5bGU9ImhlaWdodDogMzBweDsgdHJhbnNmb3JtOiByb3RhdGVZKDE4MGRlZyk7Ij4KICAgICAgICAgICAgICAgICAgICA8cGF0aCBkPSJNNzI1LjI5IDEwMS4yQzMyNS4yMiAxMjIuNDggMCAwIDAgMHYxNDBoMTI4MFYwcy0xNTQuNjQgNzkuOTItNTU0LjcxIDEwMS4yeiIgZmlsbC1vcGFjaXR5PSIuMyI+PC9wYXRoPgogICAgICAgICAgICAgICAgICAgIDxwYXRoIGQ9Ik01NTYuNDUgMTE5Ljc0Qzk1My40MSAxNDAgMTI4MCAxNCAxMjgwIDE0djEyNkgwVjBzMTU5LjUgOTkuNDggNTU2LjQ1IDExOS43NHoiIGZpbGwtb3BhY2l0eT0iLjUiPjwvcGF0aD4KICAgICAgICAgICAgICAgICAgICA8cGF0aCBkPSJNNjQwIDE0MGMzNTMuNDYgMCA2NDAtMTQwIDY0MC0xMzl2MTQwSDBWMHMyODYuNTQgMTQwIDY0MCAxNDB6Ij48L3BhdGg+CiAgICAgICAgICAgICAgICA8L3N2Zz4=");
			}
		}
	}
}
.portfolio{
	margin-bottom: 30px;
}
.portfolio-slider{
	width: calc(100vw - 170px);
	margin: 65px auto 30px;
	.item{
		margin:0 15px;
		position: relative;
		a{
			position: absolute;
			top: 0;
			bottom: 0;
			left: 0;
			right: 0;
		}
	}
	img{
		width: 100%;
		height: calc(100vw / 3 - 30px);
		object-fit: cover;
		object-position: center;
	}
	.icon-arrow-left{
		left: -40px;
	}
	.icon-arrow-right{
		right: -40px;
	}
}
.slider-shares{
	margin: 50px 0;
	.slick-dots{
		bottom: 50px;
		.slick-active{

			button{
				background: #b2b2b2;
			}
		}
		button{
			width: 12px;
			height: 12px;
			background: $white;
			border-radius: 50%;
			font-size: 0;
			@include transition(0.5s ease);
			box-shadow: 0 0 1px 1px rgba(0,0,0,0.4);
			&:before{
				display: none;
			}
			&:hover{
				background: #b2b2b2;
			}
		}
	}
	.icon-arrow-left,
	.icon-arrow-right{
		color: #fff;
		background: rgba(0,0,0,0.5);
	}
	.item{
		position: relative;

		&.slick-active{
			.description{
				opacity: 1;
			}
		}
	}
	img{
		width: 100%;
		height: 680px;
		object-fit: cover;
		object-position: center;
	}
	.description{
		max-width: 480px;
		width: 100%;
		position: absolute;
		top: 50%;
		@include translate(0,-50%);
		background: rgba(255,255,255,0.7);
		padding: 50px;
		border-radius: 5px;
		left: 50.5vw;
		opacity: 0;
		@include transition(0.5s ease);
		p.desc{
			font-size: 18px;
			text-align: left;
			text-transform: none;
			line-height: 1.6;
		}
		p{
			font-size: 10px;
			margin-bottom: 20px;
		}
		.button{
			display: -webkit-inline-flex;
			display: -moz-inline-flex;
			display: -ms-inline-flex;
			display: -o-inline-flex;
			display: inline-flex;
			flex-direction: row;
			flex-wrap: wrap;
			align-items: center;
			justify-content: center;
			border: 4px solid $black;
			padding: 0 15px;
			height: 50px;
			line-height: 42px;
			background: $white;
			color: $black;
			font-size: 12px;
			margin-bottom: 20px;
			@include transition(0.5s ease);
			&:hover {
				background: #b2b2b2;
				border-color: #b2b2b2;
				color: #000;
			}
			& + p{
				margin-bottom: 0;
			}
			&:before{
				margin-right: 15px;
			}
		}
	}
}
.partners{
	padding: 80px 0;
	.items{
		display: -webkit-flex;
		display: -moz-flex;
		display: -ms-flex;
		display: -o-flex;
		display: flex;
		flex-wrap: wrap;
		flex-direction: row;
		.item{
			width: calc(100% / 3);
		}
		img{
			display: table;
			margin: 0 auto;
			height: 70px;
			object-fit: contain;
			object-position: center;
		}
	}
}
.reviews{
	padding: 85px 0;
	background: #fafafa;
	.button{
		display: -webkit-flex;
		display: -moz-flex;
		display: -ms-flex;
		display: -o-flex;
		display: flex;
		width: 300px;
		flex-direction: row;
		flex-wrap: wrap;
		align-items: center;
		justify-content: center;
		border: 4px solid $black;
		padding: 0 15px;
		height: 50px;
		line-height: 42px;
		background: $white;
		color: $black;
		font-size: 12px;
		margin-bottom: 20px;
		@include transition(0.5s ease);
		margin: 50px auto 0;
		&:hover {
			background: #b2b2b2;
			border-color: #b2b2b2;
			color: #000;
		}
	}
}
.reviews-slider{
	max-width: 996px;
	width: 100%;
	margin: 0 auto;
	.icon-arrow-left {
		left: -20px;
	}
	.icon-arrow-right{
		right: -20px;
	}
	.item{
		margin: 0 15px;
		position: relative;
		a{
			position: absolute;
			top: 0;
			bottom: 0;
			left: 0;
			right: 0;
		}
		img{
			display: table;
			margin: 0 auto;
			width: 168px;
			height: 320px;
			object-fit: cover;
			object-position: center;
		}
	}

}
.soc-block{
	padding: 30px 0;
	.items{
		display: -webkit-flex;
		display: -moz-flex;
		display: -ms-flex;
		display: -o-flex;
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		max-width: 1000px;
		margin: 0 auto;
	}
	.item{
		width: calc(100% / 3);
		position: relative;
		.link{
			position: absolute;
			top: 0;
			bottom: 0;
			right: 0;
			left: 0;
		}
		&:hover{
			ul{
				opacity: 1;
			}
		}
	}
	img{
		width: 100%;
		height: 330px;
		object-fit: cover;
		object-position: center;
	}
	ul{
		display: -webkit-flex;
		display: -moz-flex;
		display: -ms-flex;
		display: -o-flex;
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		justify-content: center;
		position: absolute;
		left: 0;
		right: 0;
		bottom: 20px;
		opacity: 0;
		@include transition(0.5s ease);
		z-index: 1;
		li{
			margin: 0 5px;
		}
		a{
			&:before{
				background: rgba(0,0,0,0.7);
				width: 26px;
				height: 26px;
				line-height: 22px;
				text-align: center;
				color: $white;
				opacity: 0.5;
				border: 2px solid $white;
				border-radius: 50%;
				font-size: 14px;
				@include transition(0.5s ease);
			}
			&:hover{
				&:before{
					opacity: 1;
				}
			}
		}
	}
}
.cards{
	padding: 30px 0 70px;
	h2{
		text-align: center;
		font-size: 28px;
	}
	.card{
		display: -webkit-flex;
		display: -moz-flex;
		display: -ms-flex;
		display: -o-flex;
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		justify-content: center;
		li{
			margin: 0 10px;
		}
		img{
			height: 35px;
			object-fit: cover;
			object-position: center;
		}
	}
}
.discounts{
	margin-top: 50px;
	background-size: cover;
	background-position: top center;
	.col-lg-12{
		height: 680px;
		display: -webkit-flex;
		display: -moz-flex;
		display: -ms-flex;
		display: -o-flex;
		display: flex;
		flex-direction: column;
		justify-content: center;
		.description{
			max-width: 665px;
		}
		h2{
			font-size: 120px;
			color: $white;
			font-weight: 700;
			line-height: 1;
			span{
				font-size: 40px;
			}
		}
		p{
			font-size: 30px;
			color: $white;

		}
		.button{
			display: -webkit-flex;
			display: -moz-flex;
			display: -ms-flex;
			display: -o-flex;
			display: flex;
			width: 300px;
			flex-direction: row;
			flex-wrap: wrap;
			align-items: center;
			justify-content: center;
			border: 4px solid $black;
			padding: 0 15px;
			height: 50px;
			line-height: 42px;
			background: $white;
			color: $black;
			font-size: 12px;
			margin-bottom: 20px;
			@include transition(0.5s ease);
			margin: 50px auto 0;
			&:hover {
				background: #b2b2b2;
				border-color: #b2b2b2;
				color: #000;
			}
			&:before{
				margin-right: 15px;
			}
		}
	}
}
.warranty{
	.items{
		display: -webkit-flex;
		display: -moz-flex;
		display: -ms-flex;
		display: -o-flex;
		display: flex;
		flex-wrap: wrap;
		flex-direction: row;

		.item{
			width: calc(100% / 3 - 100px);
			margin-right: 150px;
			text-align: center;
			&:nth-of-type(3n){
				margin-right: 0;
			}
		}
		p{
			font-size: 22px;
			margin-bottom: 15px;
		}
		.img{
			height: 392px;
			background-size: cover;
			background-position: center;
			position: relative;
			margin-bottom: 20px;
			& + p{
				font-size: 18px;
				line-height: 1.6;
			}
			.button{
				position: absolute;
				bottom: 20px;
				left: 50%;
				@include translate(-50%, 0);
				border: 4px solid $black;
				padding: 0 15px;
				height: 50px;
				line-height: 42px;
				background: $white;
				color: $black;
				font-size: 12px;
				margin-bottom: 20px;
				@include transition(0.5s ease);
				width: calc(100% - 61px);
				margin: 0;
				&:hover {
					background: #b2b2b2;
					border-color: #b2b2b2;
					color: #000;
				}
			}
		}
	}
}
.technology{
	margin-top: 50px;
	overflow: hidden;
	h2{
		margin-bottom: 0px;
		& + p{
			font-size: 20px;
			text-align: center;
		}
	}
	.items{
		padding: 0 10vw;
		display: -webkit-flex;
		display: -moz-flex;
		display: -ms-flex;
		display: -o-flex;
		display: flex;
		flex-wrap: wrap;
		flex-direction: row;
		margin-top: 50px;
		position: relative;
		&:after{
			width: 620px;
			height: 620px;
		}
		&:before,
		&:after{
			content: '';
			position: absolute;
			border: 1px solid #f5f5f5;
			width: 820px;
			height: 820px;
			border-radius: 50%;
			left: 50%;
			top: 50%;
			@include translate(-50%,-50%);
			z-index: -1;
		}
		img{
			width: 100%;
			margin-bottom: 10px;
			max-width: 170px;
			border-radius: 50%;
			box-shadow: 0 0 20px 2px rgba(0,0,0,0.3);
			& + p {
				font-size: 22px;
				margin-bottom: 15px;
			}
		}
		p{
			font-size: 16px;
			text-align: center;
		}
		ul{
			width: 70%;
			height: 100%;
			display: -webkit-flex;
			display: -moz-flex;
			display: -ms-flex;
			display: -o-flex;
			display: flex;
			flex-direction: column;
			justify-content: space-between;
			li{
				align-items: center;
				display: -webkit-flex;
				display: -moz-flex;
				display: -ms-flex;
				display: -o-flex;
				display: flex;
				flex-direction: column;
			}
		}
		.item{
			width: calc(100% / 3);
			display: -webkit-inline-flex;
			display: -moz-inline-flex;
			display: -ms-inline-flex;
			display: -o-inline-flex;
			display: inline-flex;
			flex-direction: column;
			justify-content: space-between;
			&:nth-of-type(3n-1){
				justify-content: center;
				align-items: center;
				img{
					border-radius: 0%;
					box-shadow: none;
					max-width: 270px;
				}
				&:after{
					width: 220px;
					height: 220px;
				}
				&:before,
				&:after{
					content: '';
					position: absolute;
					border: 1px solid #f5f5f5;
					width: 420px;
					height: 420px;
					border-radius: 50%;
					left: 50%;
					top: 50%;
					@include translate(-50%,-50%);
					z-index: -1;
				}
			}
			&:nth-of-type(3n){
				align-items: flex-end;
			}
		}
	}
	.video-block{
		margin: 150px 0 50px;
		.video{
			width: 70%;
			margin: 30px auto 0;
			position: relative;
			&.icon-stop{
				&:before{
					display: none ;
				}
				&:hover{
					&:before{
						display: -webkit-flex;
						display: -moz-flex;
						display: -ms-flex;
						display: -o-flex;
						display: flex;
					}
				}
			}
			video{
				width: 100%;
				cursor: pointer;
			}
			&:before{
				top: 0;
				bottom: 0;
				left: 0;
				right: 0;
				position: absolute;
				display: -webkit-flex;
				display: -moz-flex;
				display: -ms-flex;
				display: -o-flex;
				display: flex;
				flex-direction: column;
				justify-content: center;
				align-items: center;
				font-size: 70px;
				background: rgba(0,0,0,0.2);
				pointer-events: none;
				color: $white;
				text-shadow: 0 0 5px $black;
			}
		}
	}
}
.description-page{
	padding: 50px 0 100px;
	p{
		font-size: 16px;
		margin-bottom: 15px;
	}
	strong{
		font-weight: 700;
	}
	a{
		display: table;
		margin-bottom: 15px;
	}
	ul{
		li{
			list-style: disc;
			list-style-position: inside;
			margin-bottom: 15px;
		}
	}
	ol{
		li{
			list-style: decimal;
			list-style-position: inside;
			margin-bottom: 15px;
		}
	}
}
.contacts,
.cart-page,
.description-page{
	h1{
		font-size: 28px;
		color: $black;
		text-align: center;
		text-transform: uppercase;
		margin-bottom: 30px;
		line-height: 1.6;
		span{
			font-size: 10px;
			font-weight: 600;
			display: table;
			margin: 0 auto ;
		}
		strong{
			font-weight: 600;
		}
	}
}
.contacts{
	padding: 50px 0 100px;

	.col-lg-12{
		display: -webkit-flex;
		display: -moz-flex;
		display: -ms-flex;
		display: -o-flex;
		display: flex;
		flex-wrap: wrap;
		flex-direction: column;
	}
	.left-block,
	.right-block{
		width: 100%;
	}
	.left-block{
		margin-bottom: 30px;
		ul{
			&.desc{
				li{
					margin-bottom: 15px;
					font-size: 14px;
					p{
						font-weight: 400;
					}
					&:last-of-type{
						margin-bottom: 0;
					}
				}
			}
			&.tel{
				display: -webkit-flex;
				display: -moz-flex;
				display: -ms-flex;
				display: -o-flex;
				display: flex;
				flex-direction: row;
				flex-wrap: wrap;
				align-items: center;
				margin-bottom: 15px;
				li{
					margin-right: 15px;
					&:last-of-type{
						order: -1;
					}
					a{
						font-weight: 700;
						font-size: 20px;
						margin-bottom: 0;
						span{
							font-weight: 400;
						}
						&.icon-viber,
						&.icon-whatsapp,
						&.icon-telegram{
							line-height: 1;
						}
						&.icon-viber{
							&:before{
								color: #935daa;
							}
						}
						&.icon-whatsapp{
							&:before{
								color: #17a318;
							}
						}
						&.icon-telegram{
							&:before{
								color: #00a6dc;
							}
						}
						&:before{
							font-size: 36px;
						}
					}
				}
			}
		}
		a{
			font-size: 14px;
			color: $black;
			display: table;
			margin-bottom: 15px;
		}
		p{
			margin-top: 35px;
			font-weight: 600;
			margin-bottom: 15px;
		}
	}
	#map{
		width: 100%;
		height: 300px;
	}
	.map-marker{
		width: 100%;

	}

	.ymaps-2-1-73-svg-icon-content > *{
		transform: rotate(-45deg) translate(-50%, -50%);
		width: 80%;
		position: absolute;
		top: 5%;
		left: 50%;

	}
	.ymaps-2-1-73-map ymaps{
		background: none !important;
	}
	.ymaps-2-1-73-svg-icon-content{
		border: 9px solid #008988;
		border-radius: 50% 50% 0;
		transform: rotate(45deg);
		box-sizing: border-box;
		width: 60px !important;
		height: 60px !important;
		background: rgba(255,255,255,0.7);
		padding: 0;
		left: -5px;
	}
	.ymaps-2-1-73-svg-icon-content{
		height: 72px;
		top: -35px !important;
	}
}
.cart-page{
	padding: 50px 0 100px;
	.button{
		font-size: 12px;
		color: $black;
		border: 4px solid $black;
		background: $white;
		display: -webkit-inline-flex;
		display: -moz-inline-flex;
		display: -ms-inline-flex;
		display: -o-inline-flex;
		display: inline-flex;
		flex-direction: row;
		flex-wrap: wrap;
		justify-content: center;
		align-items: center;
		height: 50px;
		line-height: 42px;
		padding: 0 15px;
		@include transition(0.5s ease);
		&:hover {
			background: #b2b2b2;
			border-color: #b2b2b2;
			color: #000;
		}
		&:before{
			margin-right: 15px;
		}
		&.icon-arrow{
			text-transform: uppercase;
		}
	}
	.total{
		display: -webkit-flex;
		display: -moz-flex;
		display: -ms-flex;
		display: -o-flex;
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		justify-content: space-between;
		align-items: center;
		.price{
			font-size: 28px;
			display: -webkit-flex;
			display: -moz-flex;
			display: -ms-flex;
			display: -o-flex;
			display: flex;
			flex-direction: row;
			flex-wrap: wrap;
			align-items: center;
			strong{
				font-weight: 600;
				margin: 0 5px;
			}
			i{
				line-height: 20px;
				&:before{
					font-size: 20px;
				}
			}
		}
	}
	.item{
		display: -webkit-flex;
		display: -moz-flex;
		display: -ms-flex;
		display: -o-flex;
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		justify-content: space-between;
		align-items: center;
		margin-bottom: 30px;
		.image{
			padding-left: 0px;
		}
		.actions{
			padding-right: 0;
		}
		img{
			width: 120px;
		}
		& > div{
			padding: 20px 15px;
		}
		.price{
			display: -webkit-inline-flex;
			display: -moz-inline-flex;
			display: -ms-inline-flex;
			display: -o-inline-flex;
			display: inline-flex;
			flex-direction: row;
			flex-wrap: wrap;
			align-items: center;
			i{
				line-height: 14px;
				&:before{

					margin-left: 5px;
					font-size: 14px;
				}
			}
		}
		.name{
			.tags{
				display: -webkit-flex;
				display: -moz-flex;
				display: -ms-flex;
				display: -o-flex;
				display: flex;
				flex-direction: row;
				flex-wrap: wrap;
				margin-top: 5px;
			}
			.tag{
				padding: 10px 15px;
				margin-right: 5px;
				display: inline-block;
				background-color: #efefef;

			}
		}
	}
	.quantity{
		p{
			text-align: center;
		}
	}
	.input-quantity{
		margin-top: 5px;
		.input-number{
			width: 20px;
			border: none;
			text-align: center;
			background-color: #efefef;
			padding: 10px 15px;
			box-sizing: content-box;

		}
		.input-number-decrement{
			cursor:pointer;
		}
		.input-number-increment{
			cursor:pointer;
			margin-left: 5px;
		}
	}
	.icon-remove{
		cursor: pointer;
	}
	.desc{
		padding-top: 100px;
		.items{
			display: -webkit-flex;
			display: -moz-flex;
			display: -ms-flex;
			display: -o-flex;
			display: flex;
			flex-direction: row;
		}
		.item{
			text-align: center;
			padding: 0 15px;
		}
		ul{
			width: 100%;
		}
		p{
			width: 100%;
			margin-bottom: 15px;
			& + ul{
				li{
					margin-bottom: 15px;
					list-style: disc;
				}
			}
		}
		p.title{
			font-size: 24px;
			margin-bottom: 20px;
		}

		strong{
			font-weight: 700;
		}
		.buttons{
			display: -webkit-flex;
			display: -moz-flex;
			display: -ms-flex;
			display: -o-flex;
			display: flex;
			flex-direction: row;
			flex-wrap: wrap;
			justify-content: center;
			li{
				margin: 0 15px;
			}
			i{
				&:before{
					margin-left: 5px;
				}
				&.icon-suitcase{
					&:before{
						font-size: 18px;
					}
				}
			}

		}
	}
}
.calculate{
	.close{
		position: absolute;
		right: 10px;
		top: 10px;
		&:before{
			color: $black;
		}
	}
	.modal-content{
		display: -webkit-flex;
		display: -moz-flex;
		display: -ms-flex;
		display: -o-flex;
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
	}
	.left-block{
		img{
			width: 100%;
			height: 100%;
			object-fit: cover;
			object-position: center;
		}
	}
	.left-block,
	.right-block{
		width: calc(100% / 2);
	}
	.right-block{
		padding: 50px;
		form{
			p{
				text-align: center;
				font-size: 18px;
				margin-bottom: 20px;
			}

		}
		.input{
			margin-bottom: 15px;
			label{
				display: table;
				margin-bottom: 5px;
			}
			input{
				&[type="text"],
				&[type="email"],
				&[type="tel"]{
					width: 100%;
					height: 40px;
					padding: 0 15px;
				}
				&[type="submit"]{
					font-size: 12px;
					color: $black;
					border: 4px solid $black;
					background: $white;
					display: -webkit-inline-flex;
					display: -moz-inline-flex;
					display: -ms-inline-flex;
					display: -o-inline-flex;
					display: inline-flex;
					flex-direction: row;
					flex-wrap: wrap;
					justify-content: center;
					align-items: center;
					height: 50px;
					line-height: 42px;
					padding: 0 15px;
					@include transition(0.5s ease);
					width: 100%;
					&:hover {
						background: #b2b2b2;
						border-color: #b2b2b2;
						color: #000;
					}
				}
			}
			& + p{
				font-size: 12px;
				margin-bottom: 0;
			}
		}
	}
}
.checkout-page {
	padding: 100px 0 100px;
	.button{
		font-size: 12px;
		color: $black;
		border: 4px solid $black;
		background: $white;
		display: -webkit-inline-flex;
		display: -moz-inline-flex;
		display: -ms-inline-flex;
		display: -o-inline-flex;
		display: inline-flex;
		flex-direction: row;
		flex-wrap: wrap;
		justify-content: center;
		align-items: center;
		height: 50px;
		line-height: 42px;
		padding: 0 15px;
		@include transition(0.5s ease);
		margin-top: 30px;
		&:hover {
			background: #b2b2b2;
			border-color: #b2b2b2;
			color: #000;
		}
		&:before{
			margin-right: 15px;
		}
		&.icon-arrow{
			text-transform: uppercase;
		}
	}
	.desc{
		padding-top: 100px;
		.items{
			display: -webkit-flex;
			display: -moz-flex;
			display: -ms-flex;
			display: -o-flex;
			display: flex;
			flex-direction: row;
			justify-content: center;
		}
		ol{
			li{
				margin-bottom: 15px;
				counter-increment:list;
				&:before{
					content: counter(list) ' )';
					display: inline-block;
					margin-right: 5px;
				}
			}
		}
		.item{
			text-align: center;
			padding: 0 15px;
		}
		ul{
			width: 100%;
		}
		p{
			width: 100%;
			margin-bottom: 15px;
			& + ul{
				li{
					margin-bottom: 15px;
					list-style: disc;
				}
			}
		}
		p.title{
			font-size: 24px;
			margin-bottom: 20px;
		}

		strong{
			font-weight: 700;
		}
		.buttons{
			display: -webkit-flex;
			display: -moz-flex;
			display: -ms-flex;
			display: -o-flex;
			display: flex;
			flex-direction: row;
			flex-wrap: wrap;
			justify-content: center;
			li{
				margin: 0 15px;
			}
			i{
				&:before{
					margin-left: 5px;
				}
				&.icon-suitcase{
					&:before{
						font-size: 18px;
					}
				}
			}

		}
	}
}
.checkout-modal,
.checkout-page {
	p{
		font-size: 16px;

		span{
			font-size: 10px;
			display: block;
			margin-top: 10px;
		}
		a{
			margin-left: 5px;
		}
	}
	.left-block {
		width: 550px;
		p{
			margin-bottom: 30px;
		}
	}
	.right-block{
		width: calc(100% - 550px);
		padding-left: 50px;
		.total{
			display: -webkit-flex;
			display: -moz-flex;
			display: -ms-flex;
			display: -o-flex;
			display: flex;
			flex-direction: row;
			flex-wrap: wrap;
			justify-content: space-between;
			align-items: center;
			.price{
				font-size: 28px;
				display: -webkit-flex;
				display: -moz-flex;
				display: -ms-flex;
				display: -o-flex;
				display: flex;
				flex-direction: row;
				flex-wrap: wrap;
				align-items: center;
				justify-content: space-between;
				width: 100%;
				margin-bottom: 35px;
				strong{
					font-weight: 600;
					margin: 0 5px 0 0;
				}
				i{
					line-height: 20px;
					margin-left: 5px;
					&:before{
						font-size: 20px;
					}
				}
			}
			.button{
				font-size: 12px;
				color: $black;
				border: 4px solid $black;
				background: $white;
				display: -webkit-inline-flex;
				display: -moz-inline-flex;
				display: -ms-inline-flex;
				display: -o-inline-flex;
				display: inline-flex;
				flex-direction: row;
				flex-wrap: wrap;
				justify-content: center;
				align-items: center;
				height: 50px;
				line-height: 42px;
				padding: 0 15px;
				@include transition(0.5s ease);
				&:hover {
					background: #b2b2b2;
					border-color: #b2b2b2;
					color: #000;
				}
			}
		}
		.item{
			display: -webkit-flex;
			display: -moz-flex;
			display: -ms-flex;
			display: -o-flex;
			display: flex;
			flex-direction: row;
			flex-wrap: wrap;
			justify-content: space-between;
			align-items: center;
			margin-bottom: 30px;
			border-bottom: 1px solid #ccc;
			.image{
				padding-left: 0px;
				position: relative;
				a{
					position: absolute;
					top: 0;
					bottom: 0;
					right: 0;
					left: 0;
				}
			}
			.actions{
				padding-right: 0;
			}
			img{
				width: 120px;
				height: 170px;
				object-fit: contain;
				object-position: center;
			}
			& > div{
				padding: 10px 10px;
			}
			.price{
				display: -webkit-inline-flex;
				display: -moz-inline-flex;
				display: -ms-inline-flex;
				display: -o-inline-flex;
				display: inline-flex;
				flex-direction: row;
				flex-wrap: wrap;
				align-items: center;

				i{
					line-height: 14px;
					&:before{

						margin-left: 5px;
						font-size: 14px;
					}
				}
			}
			.name{
				.tags{
					display: -webkit-flex;
					display: -moz-flex;
					display: -ms-flex;
					display: -o-flex;
					display: flex;
					flex-direction: row;
					flex-wrap: wrap;
					margin-top: 5px;
				}
				.tag{
					padding: 0px 5px;
					margin-right: 5px;
					display: inline-block;
					font-size: 14px;
					&:first-of-type{
						padding-left: 0;
					}
				}
			}
		}
	}
	form{
		display: -webkit-flex;
		display: -moz-flex;
		display: -ms-flex;
		display: -o-flex;
		display: flex;
		flex-direction: row;
		flex-wrap: wrap
	}
	.input{
		margin-bottom: 15px;
		label{
			display: table;
			margin-bottom: 5px;
		}
		input{
			&[type="text"],
			&[type="email"],
			&[type="tel"]{
				width: 100%;
				height: 40px;
				padding: 0 15px;
			}
			&[type="submit"]{
				font-size: 12px;
				color: $black;
				border: 4px solid $black;
				background: $white;
				display: -webkit-inline-flex;
				display: -moz-inline-flex;
				display: -ms-inline-flex;
				display: -o-inline-flex;
				display: inline-flex;
				flex-direction: row;
				flex-wrap: wrap;
				justify-content: center;
				align-items: center;
				height: 50px;
				line-height: 42px;
				padding: 0 15px;
				@include transition(0.5s ease);
				width: 100%;
				&:hover {
					background: #b2b2b2;
					border-color: #b2b2b2;
					color: #000;
				}
			}
		}
		& + p{
			font-size: 12px;
			margin-bottom: 0;
		}
	}
	.textarea{
		label{
			display: table;
			margin-bottom: 5px;
		}
		textarea{
			width: 100%;
			height: 80px;
			padding: 10px 15px;
			resize: none;
		}
		margin-bottom: 15px;
	}
	.radio-buttons{
		display: -webkit-flex;
		display: -moz-flex;
		display: -ms-flex;
		display: -o-flex;
		display: flex;
		flex-wrap: wrap;
		flex-direction: row;
	}
	.radio-button{
		margin-bottom: 15px;
		margin-right: 25px;
		input{
			display: none;
			&:checked{
				& + label{
					&:before{
						background: $black;
						box-shadow: inset 0 0 0 3px $white;
					}
				}
			}
		}
		label{
			position: relative;
			padding-left: 25px;
			cursor: pointer;
			&:before{
				content: '';
				position: absolute;
				width: 16px;
				height: 16px;
				border: 2px solid $black;
				left: 0;
				border-radius: 50%;
				top: 50%;
				@include translate(0,-50%);
			}
		}
	}
}
.checkout-modal{
	.modal-dialog {
		max-width: 1170px;
		width: 100%;
	}
	.modal-content{
		padding: 20px 30px;
	}
	.close{
		position: absolute;
		right: 10px;
		top: 10px;
		&:before{
			color: $black;
		}
	}
}
.modal-form{
	.modal-content{
		padding: 40px 30px 20px;
	}
	.close{
		position: absolute;
		right: 10px;
		top: 10px;
		&:before{
			color: $black;
		}
	}
	p{
		text-align: center;
		font-size: 24px;
		margin-bottom: 20px;
	}
	.input{
		margin-bottom: 15px;
		label{
			display: table;
			margin-bottom: 5px;
		}
		input{
			&[type="text"],
			&[type="email"],
			&[type="tel"]{
				width: 100%;
				height: 40px;
				padding: 0 15px;
			}
			&[type="submit"]{
				font-size: 12px;
				color: $black;
				border: 4px solid $black;
				background: $white;
				display: -webkit-inline-flex;
				display: -moz-inline-flex;
				display: -ms-inline-flex;
				display: -o-inline-flex;
				display: inline-flex;
				flex-direction: row;
				flex-wrap: wrap;
				justify-content: center;
				align-items: center;
				height: 50px;
				line-height: 42px;
				padding: 0 15px;
				@include transition(0.5s ease);
				width: 100%;
				&:hover {
					background: #b2b2b2;
					border-color: #b2b2b2;
					color: #000;
				}
			}
		}
		& + p{
			font-size: 12px;
			margin-bottom: 0;
		}
	}
}
a.cart{
	position: fixed;
	right: 20px;
	top: 60px;
	width: 45px;
	height: 45px;
	border-radius: 5px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	color: $black;
	font-size: 24px;
	z-index: 10;
	@include translate(0,-50%);
	sup{
		position: absolute;
		padding: 0 6.5px;
		line-height: 20px;
		font-size: 12px;
		right: -10px;
		top: -10px;

		&:before,
		&:after{
			content: '';
			position: absolute;
		}
		&:before{
			border-left: 1px solid $black;
			border-top: 1px solid $black;
			width: 35px;
			height: 45px;
			left: -35px;
			top: 10px;
			border-radius: 5px 0 0 5px;
		}
		&:after{
			border-right: 1px solid $black;
			border-bottom: 1px solid $black;
			width: 45px;
			height: 35px;
			left: -35px;
			top: 20px;
			border-radius: 0 0 5px 5px;
		}
	}
}
.video-modal{
	.close{
		position: absolute;
		right: 10px;
		top: 10px;
		&:before{
			color: $black;
		}
	}
	video{
		width: 100%;
	}
	.modal-content{
		overflow: hidden;
	}
}
