footer{
	.col-lg-12{
		display: -webkit-flex;
		display: -moz-flex;
		display: -ms-flex;
		display: -o-flex;
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
	}
	.left-block{
		width: calc(100% / 3);
		display: -webkit-flex;
		display: -moz-flex;
		display: -ms-flex;
		display: -o-flex;
		display: flex;
		flex-direction: column;
		align-items: center;
		p{
			display: -webkit-flex;
			display: -moz-flex;
			display: -ms-flex;
			display: -o-flex;
			display: flex;
			flex-direction: row;
			flex-wrap: wrap;
			align-items: center;
			font-size: 8.6px;
			color: #9b9b9e;
			margin-bottom: 25px;
			img{
				margin-right: 15px;
			}
		}
		.logo{
			width: 105px;
			margin-bottom: 25px;
			img{
				width: 100%;
			}
		}
	}
	ul{
		display: -webkit-flex;
		display: -moz-flex;
		display: -ms-flex;
		display: -o-flex;
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		justify-content: flex-end;
		align-items: center;
		margin-bottom: 15px;
		a{
			color: #000;
		}
		&.menu{
			width: 100%;
			justify-content: center;
			li{
				margin: 0 80px;
				font-size: 18px;
			}
		}
		&.soc{
			margin-bottom: 0;
			li{
				margin-left: 20px;
			}
		}
		&.tel{
			li{
				margin-left: 15px;
				&:last-of-type{
					width: 100%;
					order: -1;
					text-align: center;
				}
				a{
					font-weight: 700;
					font-size: 20px;
					&.icon-viber,
					&.icon-whatsapp,
					&.icon-telegram{
						line-height: 1;
					}
					&.icon-viber{
						&:before{
							color: #935daa;
						}
					}
					&.icon-whatsapp{
						&:before{
							color: #17a318;
						}
					}
					&.icon-telegram{
						&:before{
							color: #00a6dc;
						}
					}
					&:before{
						font-size: 36px;
					}
				}
			}
		}

		&.tel,
		&.soc{
			width: calc(100% / 2);
			justify-content: center;
		}
	}
	.right-block{
		width: calc(100% - 33.33333%);
		display: -webkit-flex;
		display: -moz-flex;
		display: -ms-flex;
		display: -o-flex;
		display: flex;
		flex-wrap: wrap;
		flex-direction: row;
	}
	.copyright{
		font-size: 10px;
		text-align: right;
		width: 100%;
		padding: 10px 20px 20px;
		color: #030303;
		line-height: 1.6;
		text-align: center;
	}
}
