@mixin translate($x,$y) {
	-webkit-transform: translate($x,$y);
	-moz-transform: translate($x,$y);
	-ms-transform: translate($x,$y);
	-o-transform: translate($x,$y);
	transform: translate($x,$y);
}
@mixin transition($s,$animation) {

	-webkit-transition: all $s $animation;
	-moz-transition: all $s $animation;
	-ms-transition: all $s $animation;
	-o-transition: all $s $animation;
	transition: all $s $animation;
}
$white:#fff;
$black:#000;
@media only screen and (max-width: 1365px) {
	footer {
		ul{
			&.menu{
				li{
					margin: 0 50px;
				}
			}
		}
	}
}
@media only screen and (max-width: 1299px) {
	a.cart{
		top: 50%;
	}
}
@media only screen and (max-width: 1199px) {
	.cart-page{
		.item {
			.name {
				.tag{
					font-size: 14px;
				}
			}
		}
	}
	footer {
		ul{
			&.menu{
				justify-content: space-between;
				li{
					margin: 0;
				}
			}
			&.soc{
				justify-content: flex-end;
			}
		}
		.left-block{
			align-items: flex-start;
			p{
				align-items: flex-start;
			}
		}

	}
	.checkout-modal,
	.checkout-page
	{
		.left-block {
			width: 400px;
		}
		.right-block{
			width: calc(100% - 400px);
		}
	}
	.banner {
		.video{
			video{
				height: 45vw;
			}
		}
		.banner-content{
			img {
				max-width: 25.877vw;
			}
		}
	}
	.banner-mini{
		&.shares {
			.col-lg-12 {
				height: 445px;
				p{
					padding: 0 15px;
				}
				img{
					height: 350px;
					width: 350px;
				}
			}
		}
	}
	.discounts {
		.col-lg-12 {
			height: 460px;
			.description {
				max-width: 475px;
			}
			h2{
				font-size: 80px;
				span{
					font-size: 30px;
				}
			}
			p {
				font-size: 20px;
			}
		}
	}
	h2 {
		font-size: 20px;
	}
	.cards {
		h2{
			font-size: 20px;
		}
	}
	.warranty {
		.items {
			.item {
				width: calc(100% / 3 - 34px);
				margin-right: 50px;
				.img {
					height: 387px;
				}
			}
		}
	}
	.slider-shares {
		img{
			height: 460px;
		}
		.description{
			padding: 20px;
			left: 40vw;
		}
	}
	.technology {
		.items {
			p{
				font-size: 14px;
			}

		}
	}
	.checkout-modal {
		.modal-dialog{
			max-width: 970px;
		}
		.modal-content {
			padding: 20px 15px;
		}
		.right-block{
			padding-left: 15px;
		}
	}
	.technology {
		.video-block {
			.video{
				&.icon-stop{
					&:before{
						display: none !important;
					}
				}
			}
		}
	}
	.catalog {
		.product-slider{
			.item {
				img{
					height: 495px;
				}
			}
		}
	}
}
@media only screen and (max-width: 991px) {
	.cart-page{
		.item {
			p{
				font-size: 14px;
			}
			.name {
				.tag{
					font-size: 12px;
					padding: 10px 5px;
				}
			}
			img {
				width: 100px;
			}
			& > div {
				 padding: 10px 5px;
			}
			.price{
				font-size: 12px;
			}
		}
		.input-quantity {
			.input-number{
				font-size: 12px;
				padding: 10px 5px;
			}
		}
	}
	.checkout-modal,
	.checkout-page
	{
		.left-block {
			width: 280px;
		}
		.right-block{
			width: calc(100% - 280px);
			padding-left: 15px;
			.item{
				img{
					width: 90px;
					height: 125px;
				}
				.name{
					.tags{
						flex-direction: column;
						.tag{
							margin-left: 0;
							margin-bottom: 5px;
							padding: 0;
							&:last-of-type{
								margin-bottom: 0;
							}
						}

					}
				}
			}
			.total {
				.price {
					font-size: 20px;
					margin-bottom: 20px;
				}
			}
		}
	}
	.catalog {
		.nav-tabs {
			a{
				font-size: 12px;
			}
		}
		.right-block {
			.description {
				margin-top: 20px;
			}
		}
		.product-slider {
			.item{
				 img {
					height: 510px;
				}
			}
		}
	}
	.advantages {
		.items {
			.item {
				p{
					font-size: 14px;
				}
			}
		}
	}
	.banner-mini{
		&.shares {
			.col-lg-12 {
				height: 370px;
				.left-block {
					padding-bottom: 135px;
				}
				p{
					font-size: 14px;
				}
				img {
					height: 270px;
					width: 270px;
				}
			}
		}
	}
	.warranty {
		.items {
			.item {
				.img {
					height: 286px;
					& + p {
						font-size: 14px;
					}
				}
			}
		}
	}
	.slider-shares {
		.description{
			left: initial;
			right: 10vw;
		}
	}
	.technology {
		.items {
			padding: 0 15px;
			img{
				max-width: 130px;
			}
		}
	}
	.portfolio-slider
	{
		margin: 30px auto 30px;
	}
	.checkout-modal {
		.modal-dialog{
			max-width: 750px;
		}
	}
	.calculate {
		.right-block {
			padding: 30px 15px;
		}
	}
	.checkout-page {
		.desc {
			.item{
				width: calc(100% / 2);
			}
		}
	}
}
@media only screen and (max-width: 767px) {
	a.cart{
		z-index: 9;
	}
	body{
		padding-top: 83px;
	}
	h2 {
		font-size: 18px;
		margin-bottom: 15px;
	}
	.cards {
		h2{
			font-size: 18px;
		}
	}
	.cart-page {
		padding: 50px 0;
		.desc{
			padding-top: 50px;
			p.title {
				font-size: 20px;
			}
			.items{
				flex-direction: column;
			}
			.item{
				width: 100%;
				.name{
					.tags{
						flex-direction: column;
					}
				}
			}
		}
		.item{
			p {
				font-size: 12px;
			}
			.name{
				.tags{
					flex-direction: column;
					.tag{
						margin-bottom: 5px;
						&:last-of-type{
							margin-bottom: 0;
						}
					}
				}
			}
		}
	}
	header {

		.logo{
			position: absolute;
			left: 15px;
			top: 50%;
			@include translate(0,-50%);
		}
		.burger-menu{
			display: -webkit-flex;
			display: -moz-flex;
			display: -ms-flex;
			display: -o-flex;
			display: flex;
			flex-direction: column;
			justify-content: space-between;
			width: 40px;
			height: 30px;
			position: absolute;
			right: 15px;
			top: 50%;
			@include translate(0,-50%);
			z-index: 2;
			&.close{
				span{
					&:first-of-type{
						transform: rotate(45deg) translate(9px,8px);
					}
					&:nth-of-type(2){
						opacity: 0;
					}
					&:last-of-type{
						transform: rotate(-45deg) translate(8px,-8px);
					}
				}
				& + ul.menu{
					@include translate(0,0);
				}
			}
			span{
				@include transition(0.5s ease);
				width: 100%;
				height: 7px;
				background: $black;
			}
		}
		.links {
			width: 100%;
			align-items: center;
			ul{
				&.menu{
					padding: 70px 20px 0;
					box-shadow: 0 0 6px 2px rgba(0,0,0,0.1);
					position: fixed;
					right: 0;
					top: 0;
					height: 100%;
					width: 320px;
					flex-direction: column;
					background: $white;
					z-index: 1;
					justify-content: flex-start;
					align-items: flex-start;
					@include translate(100%,0);
					@include transition(0.5s ease);
					li{
						margin-bottom: 30px;
					}
				}
				&.soc{
					li{
						&:first-of-type{
							margin-left: 0;
						}
					}
				}
			}
		}

	}
	footer {
		ul{
			&.menu{
				display: none;
			}
		}
	}
	.contacts {
		.left-block {
			ul{
				&.tel {
					li{
						&:last-of-type{
							width: 100%;
							margin-bottom: 15px;
						}
					}
				}
			}
		}
	}
	.checkout-modal,
	.checkout-page
	{
		.left-block {
			width: 100%;
		}
		.right-block{
			padding-top: 15px;
			width: 100%;
			padding-left: 0;
		}
	}
	.checkout-page {
		padding: 50px 0;
	}
	.banner {
		.banner-content
		{
			div {
				font-size: 20px;
			}
		}
	}
	.catalog {
		.product-slider {
			.item {
				img {
					height: calc(100vw - 40%);
				}
			}
		}
		.nav-tabs {
			li{
				width: calc(100% / 4 - 8px);
				margin-right: 10px;
				margin-bottom: 10px;
			}
		}
		.left-block{
			width: 40%;
		}
		.right-block{
			width: calc(100% - 40%);
			p.subtitle {
				font-size: 12px;
			}
			ul{
				li{
					font-size: 12px;
				}
			}
			.description{
				p {
					font-size: 12px;
				}

			}
		}
		.custom-option,
		.custom-select-trigger{
			font-size: 12px;
		}
	}
	.advantages {
		.items {
			.item{
				width: calc(100% / 3);
			}
		}
	}
	.banner-mini{
		&.shares {
			&:after{
				height: 70px;
			}
			.col-lg-12 {
				height: auto;
				.right-block,
				.left-block {
					width: 100%;
				}
				.left-block {
					padding-bottom: 0;
					padding-top:65px;
				}
				p{
					font-size: 14px;
				}
				img {
					height: 270px;
					width: 270px;
				}
			}
		}
		&:after,
		&:before{
			height: 60px;
		}
	}
	.discounts {
		.col-lg-12 {
			position: relative;
			height: 400px;
			&:before{
				content: '';
				position: absolute;
				left: 0;
				right: 0;
				top: 0;
				bottom: 0;
				background: rgba(0,0,0,0.4);
			}
			.description {
				position: relative;
				z-index: 1;
			}
			h2{
				font-size: 60px;
				span{
					font-size: 20px;
				}
			}
			p {
				text-align: center;
				font-size: 16px;
			}
			.button{
				margin: 20px auto 0;
				max-width: 300px;
				width: 100%;
				padding: 0 10px;
			}
		}
	}
	.warranty {
		.items {
			.item {
				width: calc(100% / 3 - 10px);
				margin-right: 15px;
				.img{
					height: calc(51vw - 60px);
				}
			}
		}
	}
	.slider-shares {
		img{
			height: 400px;
		}
		.description{
			left: 50%;
			@include translate(-50%, -50%);
			right: initial;
		}
	}
	.technology {
		.items {
			&:before{
				width: 500px;
				height: 500px;
			}
			&:after{
				width: 400px;
				height: 400px;
			}
			.item{
				&:nth-of-type(3n-1){
					&:after{
						height: 200px;
						width: 200px;
					}
					&:before{
						width: 300px;
						height: 300px;
					}
				}
			}
			ul {
				width: 100%;
			}
		}
		.video-block {
			margin: 50px 0 50px;
			.video {
				width: 100%;
				&:before{
					font-size: 35px;
				}
			}
		}

	}
	.portfolio-slider {
		width: calc(100vw - 90px);
		.item {
			margin: 0 5px;
			img{
				height: calc(100vw / 2 - 30px);
			}
		}
	}
	.about-company
	{
		.right-block,
		.left-block {
			width: 50%;
		}
	}
	.partners {
		padding: 30px 0;
		.items{
			 img{
				height: 45px;
			}
		}
	}
	.reviews {
		padding: 50px 0;
	}
	.checkout-modal {
		.modal-dialog{
			max-width: 100%;
			width: calc(100% - 30px);
		}
	}
	.modal-dialog{
		margin: 10px auto;
		width: calc(100% - 30px);
		transform: translate(0%,0%) !important;
		top: 20px;
		left: 0;
		right: 0;

	}
	.modal-form{
		.modal-dialog{
			max-width: 360px;
		}
	}
}

@media only screen and (max-width: 679px) {
	.cart-page {
		.item{
			.name{
				order: -1;
				width: 100%;
				padding-left: 0;
				padding-right: 0;
				.tags{
					.tag{
						margin-right: 0;
					}
				}
			}
		}
		.total {
			.price {
				font-size: 18px;
				i{
					line-height: 14px;
					&:before{
						font-size: 14px;
					}
				}
			}
		}
	}
	.catalog {
		.nav-tabs {
			margin-bottom: 15px;
			a{
				padding: 0 10px;
				display: -webkit-flex;
				display: -moz-flex;
				display: -ms-flex;
				display: -o-flex;
				display: flex;
				flex-direction: column;
				justify-content: center;
				align-items: center;
				font-size: 10px;
				line-height: 1.2;
				height: 40px;
			}
		}
	}
	.catalog {
		padding-bottom: 0;
		.tab-pane{
			flex-direction: column;
		}
		.right-block{
			padding-left: 0;
		}
		.right-block,
		.left-block{
			width: 100%;
		}
		.product-slider{
			.item{
				img{
					height: auto;
				}
			}
		}
		.open-video{
			width: 100%;
		}
	}
	.advantages {
		padding: 50px 0 0;
	}
	.technology {
		.items {
			p {
				font-size: 11px;
			}
			ul {
				justify-content: flex-start;
				li{
					&:first-of-type{
						margin-bottom: 40px;
					}
				}
			}
		}
	}
	.about-company
	{
		padding: 0 0 50px;
		.right-block{
			width: 60%;
			 p {
				font-size: 12px;
				margin-bottom: 10px;
				line-height: 1.2;
			}
		}
		.left-block {
			width: 40%;
			padding-right: 15px;
		}
	}
	.reviews-slider {
		.item {
			margin: 0 5px;
			img{
				width: 100%;
				height: calc(190vw / 3 - 30px);
			}
		}
	}

}
@media only screen and (max-width: 579px) {
	header {
		.logo {
			img {
				height: 45px;
			}
		}
		.links {
			padding-left: 35px;
			ul{
				&.tel {
					li {
						margin-left: 5px;
						a{
							font-size: 16px;
						}
					}
				}
			}
		}
	}
	footer{
		.right-block{
			display: none;
		}
		.left-block{
			width: 100%;
			align-items: center;
		}
	}
	.banner
	{
		.video
		{
			video {
				height: 65vw;
			}
		}
	}
	.advantages {
		.items {
			.item{
				width: calc(100% / 2);
			}
		}
	}
	.warranty {
		.items {
			justify-content: center;
			.item{
				width: calc(100% / 2 - 7.5px);
				.img {
					height: calc(72.5vw - 45px);
				}
				&:nth-of-type(2n){
					margin-right: 0;
				}
			}
		}
	}
	.slider-shares {

		.description{
			max-width: 100%;
			width: 80%;
			p.desc {
				font-size: 14px;
			}
		}
	}
	.calculate {
		.left-block{
			position: absolute;
			top: 0;
			bottom: 0;
			right: 0;
			left: 0;
			width: 100%;
			&:before{
				content:'';
				position: absolute;
				top: 0;
				bottom: 0;
				right: 0;
				left: 0;
				background: rgba(255,255,255,0.5);
			}
		}
		.close{
			z-index:2;
		}
		.right-block{
			width: 100%;
			z-index: 1;
			position: relative;
		}
	}
}

@media only screen and (max-width: 479px) {
	.cart-page {
		.button{
			width: 100%;
		}
		.desc {
			.buttons{
				flex-direction: column;
				li{
					width: 100%;
					margin: 0px auto 20px;
					&:last-of-type{
						margin-bottom: 0px;
					}
				}
			}
		}
		.total {
			.price {
				font-size: 18px;
				margin-bottom: 20px;
			}

		}
	}
	.checkout-modal,
	.checkout-page {
		.right-block {
			.item {
				.name{
					order: -1;
					width: 100%;
					padding-left: 0;
					padding-right: 0;
				}
				img{
					width: 125px;
					height: 172px;
				}
			}
			.total {

				.button{
					width: 100%;
				}
			}
		}
	}
	.catalog
	{
		h1 {
			font-size: 18px;
		}
	}
	.slider-shares {

		.description{
			top: inherit;
			bottom: 80px;
			left: 0;
			width: 100%;
			@include translate(0,0);
			padding-left: 15px;
			padding-right: 15px;
			p.desc {
				font-size: 14px;
			}
			.button{
				padding: 0 10px;
			}
		}
	}
	.slider-shares{
		.slick-arrow{
			top: inherit;
			bottom: 40px;
			@include translate(0,0);
		}
		.slick-dots{
			bottom: 40px;
		}
	}
	.technology {
		.items {
			.item{
				width: 100%;
				&:nth-of-type(3n-1)
				{
					img {
						max-width: 140px;
					}
				}
				ul{
					flex-direction: row;
					flex-wrap: wrap;
					li{
						width: calc(100% / 2);
						&:first-of-type{
							padding-right: 10px;
						}
						&:last-of-type{
							padding-left: 10px;
						}
					}
				}
			}
		}
		.video-block {
			margin: 0px 0 50px;
		}
	}
	.portfolio-slider {
		.item {
			img{
				height: calc(100vw - 30px);

			}
		}
	}
	.about-company
	{
		.right-block{
			width: 100%;
			padding-top: 10px;
		}
		.left-block {
			width: 100%;
			padding-right: 0;
			img {
				height: auto;
			}
		}
	}
	.cards {
		padding: 30px 0 30px;
		.card {
			li{
				width: calc(100% / 3 - 14px);
				margin: 0 20px 20px 0;
				&:nth-of-type(3n){
					margin-right: 0;
				}
			}
			img {
				margin: 0 auto;
				display: table;
				height: 30px;
			}
		}
	}
	.partners {
		.items {
			img {
				height: 35px;
			}
		}
	}
}
@media only screen and (max-width: 379px) {
	.cart-page {

		.item {
			.image {
				width: calc(100% - 125px);
				img {
					width: 100%;
				}
			}
			.name{
				p{
					font-size: 18px;
				}
			}
			.price {
				font-size: 18px;
			}
		}
	}
	header {
		.links {
			ul{
				&.tel {
					li{
						margin: 0 10px;
						&:last-of-type{
							display: none;
						}
					}
				}
			}
		}
	}
	.catalog {
		.nav-tabs {
			li{
				width: calc(100% / 2 - 5px);
				margin-right: 10px;
				margin-bottom: 10px;
				&:nth-of-type(2n){
					margin-right: 0;
				}
			}
		}
	}
	.advantages {
		.items {
			.item{
				p{
					font-size: 12px;
				}
			}
		}
	}
	.banner-mini{
		&.shares {
			&:after{
				height: 40px;
			}
		}
	}
	.warranty {
		.items {
			justify-content: center;
			.item{
				width: 100%;
				margin-left: 0 !important;
				margin-right: 0 !important;
				.img {
					height: calc(135vw - 30px);
				}
			}
		}
	}
	.reviews-slider {
		.item{
			img {
				width: 100%;
				height: calc(190vw / 2 - 30px);
			}
		}
	}
	.reviews {
		.button{
			margin: 20px auto 0;
			width: 100%;
		}
	}
	.catalog {
		.colors{
			width: 100%;
			justify-content: space-between;
			.color{
				margin: 0 0px 20px !important;
			}
		}
	}
}
